[2019-12-28 22:06] munafio commented on #1
it is a test repo :)

[2020-01-03 00:27] KleKlai opened #1 "Suggestion"
is there any plan for pinned message? like discord to be more organized?

[2020-01-06 22:04] munafio commented on #1
Sure, in next releases

[2020-01-09 02:10] JeffGepiga opened #2 "Asset Files not working after php artisan vendor:publish --tag=chatify-config"
Operating System: Windows 7 64bit
PHP Version : 7.3
Laravel Version: 6.10

[2020-01-09 02:12] JeffGepiga opened #3 "Request for Desktop Notification"
It might be more realtime if i has desktop notification.
Thanks

[2020-01-09 22:28] munafio commented on #2
can you explain how it is not working ??

[2020-01-09 22:29] munafio commented on #3
Soon, in the next releases

[2020-01-09 22:29] #3 closed, assigned to nobody

[2020-01-09 22:29] #1 closed, assigned to nobody

[2020-01-10 01:54] JeffGepiga commented on #2
After I followed the instruction and did the command php artisan vendor:publish, the asset file is not published in my css and js directory, so I was able to fixed it by manually moving the css and js file from vendor.

[2020-01-10 02:01] munafio commented on #2
No, copying files from vendor will not overwrite the files and make changes ..
`vendor:publish` needs an asset tag as mentioned in the docs ..
So, if you want to publish(config) do :
[code]

or, if you want the public (assets) do:
[code]

that means, changing what after the `chatify-` with the asset needed.

and like so with the others mentioned in the docs .. take a look at it.

[2020-01-10 11:20] manadinho opened #4 "database table structure"
you did a great job but i have concern with database table structure. becoz after few months or year table became heavy and query will take to much time. may you use conversation table a messages table structure i hope it will work fast..

[2020-01-10 11:57] munafio commented on #4
I'll keep it in mind in the next releases.

[2020-01-10 11:57] #4 closed, assigned to nobody

[2020-01-10 11:57] #2 closed, assigned to nobody

[2020-01-14 18:02] gileneusz opened #5 "Feature request for delete message feature+ small suggestion"
Would be great to have an opportunity to delete the sent message.

Also I had some stupid problems with instalation, because I run that on clean Laravel 6.x instalation. So I had to add the new authentication commands:

[code]

without those commands the package would not run, would be nice for others if you will add that in the documentation

[2020-01-23 09:25] faizaiman opened #6 "Search message"
Hi! i love you chatify but it will be more userful if you can add search for message we sent and maybe add liked massage.thank you

[2020-03-05 01:09] JeffGepiga opened #7 "Support for Laravel 7"

[2020-03-14 06:58] SagarMaher2 opened #8 "Jquery missing issue."
i ran into js issues due to jquery was not loaded before loading other scripts.

<script src="{{ asset('front/js/jquery-3.2.1.min.js')}}"></script>

add this in "\vendor\munafio\chatify\views\layouts\footerLinks.blade.php" to solve the issue
"Uncaught ReferenceError: $ is not defined at code.js:7"

[2020-03-20 01:45] abdelkadergelany opened #9 "Failed to fetch messages! Laravel 7"
after a fresh installation, everything is working perfectly. However, when I create conversations with 2 users it is unable to fetch the messages for each conversation.
Laravel version:7
How to reproduce the error:
-after installation on a fresh laravel 7 project
-create a conversation with one user
-then create another conversation with another user
-now we have 3 actives users
-send messages to

[2020-04-01 00:39] munafio commented on #7
Can you provide some info about your issue to solve?

[2020-04-08 10:38] makerstorage opened #10 "Update on MassageController not applies"
I published the Controllers with PHP artisan vendor:publish and make some change on the controller. But the routes still loads the controller in vendor directory. Is there a solution for that Can I also publish the routes?

Regards
Nuri

[2020-04-09 15:45] rigonlucas commented on #10
I have a sugestion to fix this:

1. In: vendor/munafio/chatify/src/ChatifyServiceProvider.php
2. private function routesConfigurations change:
**'namespace' => 'Chatify\Http\Controllers',** => **'namespace' =>  config('chatify.namespace', 'Chatify\Http\Controllers'),**. to not break on composer update.
3. In: config/chatify.php
Add to config: **'namespace' => env('CHATIFY_NAMESPACE', 'App\Http\Con

[2020-04-14 07:35] pro-cms opened #12 "How do i select avatar from database"
How do i select avatar from my database,
and i am tring to add my own top menu navigation but it is not showing up

[2020-04-14 19:03] munafio commented on #10
@rigonlucas I wrote a notes to your PR .. please check that to merge :)
Thanks for your contribution.

[2020-04-14 19:05] munafio commented on #12
You can easily modify CSS/JS files and even default blade template by publishing the assets as mentioned in the docs

[2020-04-14 19:05] #12 closed, assigned to nobody

[2020-04-14 19:21] rigonlucas commented on #10
@munafio here it is performing correctly. I suggest that you create a new branch for PR outside the master to test the change.
I realized that you have the master branch.
If you want to make this correction feel free to refuse my PR and apply the change.
Hug!

[2020-04-14 19:36] munafio commented on #10
@rigonlucas  I've suggested some changes to your PR to be merged and save your contribution.

[2020-04-14 19:42] rigonlucas commented on #10
Perfect, however you want. It was a pleasure to contribute! It's a beautiful project.

[2020-04-15 19:07] munafio commented on #10
@rigonlucas Still waiting your changes :).
Thanks to you <3

[2020-04-15 19:36] rigonlucas commented on #10
@munafio I did the PR, but it is still open.
If you want that i change anything, please, coment here
https://github.com/munafio/chatify/pull/11

[2020-04-15 19:58] munafio commented on #10
@rigonlucas I wrote a notes on your PR commits and still pending .. please check them and after your change, I'll merge your contribution.

[2020-04-17 10:35] codemoon2019 opened #13 "php migration issue even without the migration file (alter table add avatar after email) ("SQLSTATE[42S22]: Column not found: 1054 Unknown column 'email' in 'users'")"
Hello I just getting error while I migrate the migration files even without the files needed to migrate. I already try the composer update and composer dump autoload but still I getting that error message. Because of that all of the migration file are skipped.

[2020-04-17 10:47] pro-cms commented on #13
Hi did you create laravel authentication
it seems you did not  , or before you install the package, create normal laravel authentication, then run migration first, Then install the package as usual,
if your on laravel 6, Run
                                  composer require laravel/ui, Then php artisa ui:auth

[2020-04-17 10:57] codemoon2019 commented on #13
I already have that one actually I changed that column name of email with email_address and I already change it with the migration files of chatify $table->string('avatar')->default(config('chatify.user_avatar.default'))->after('email_address');  but still I getting that error.

[2020-04-17 11:40] codemoon2019 commented on #13
Thankyou for the help I've change the migration file column name direct into vendor->munafio migration folder files. Thank for the answer really appreciated.

[2020-04-17 16:40] munafio commented on #13
Columns that **Chatify package** adds into **Users** table after migrations, is being added after **email** column .. like:
`$table->string('avatar')->after('email');`
To not add columns at the end of **Users** table.

[2020-04-17 16:40] #13 closed, assigned to nobody

[2020-04-20 17:22] codemoon2019 opened #14 "Published changes in tag controller not working in chatify"
This still need to edit directly to package vendor ? I tried to publish the controllers base on the direction given but once I've change some stuff in the controllers or assets still not appllying any changes. What would I do with that ? Can anyone can help me out of this ?

[2020-05-06 11:53] elsayed85 opened #15 "support for multi auth system"
i have two type of user and I need to use different guard for both user and sure two different table
so I need to use trait for each model of user but the package I think it support only one model ..

[2020-05-16 05:47] khyvez commented on #10
Hello brother, I tried  your suggestion but I'm having error.
Target class [App\Http\Controllers\vendor\Chatify\MessagesController] does not exist.

[2020-05-16 15:10] rigonlucas commented on #10
Hi guy. Rum composer update and after republish the config command
You can rum the publish command for controllers

[2020-05-16 15:11] rigonlucas commented on #10
Rum**

[2020-05-16 15:15] rigonlucas commented on #10
@khyvez it's was been fixed manytimes ago.
Hug, and good work!

[2020-05-16 15:50] pro-cms commented on #13
hi coders, @munafio cant we use another more responsive theme for the app, it seems like it is not fully mobile-friendly, here is the link to the frontend most responsive design, let me know
https://codepen.io/drehimself/pen/KdXwxR
and this https://codepen.io/elad2412/pen/wvaNyBv

and this one with both night mode and light mode

https://codepen.io/TurkAysenur/pen/ZEbXoRZ

[2020-05-22 06:53] munafio commented on #13
Hi,
I'll think about it in the next releases.
best regards,
Munaf.

On Sat, May 16, 2020, 6:50 PM Novath Thomas <notifications@github.com>
wrote:

[2020-06-15 12:06] NicolaCarrassi opened #16 "Target class [] does not exist."
Hi, i've installed your repository on my existing project and now when i try to log in or register an account i keep getting this error, i am using laravel 7... Do you have any idea of how i can fix this problem?

[2020-06-16 14:33] 45h1f opened #17 "PusherError:Cannot broadcast client event"
Cannot broadcast client event (connection not subscribed to channel private-chatify)

Please help...

[2020-06-16 18:11] NicolaCarrassi commented on #16
Actually I solved that, I just followed your tutorial once again, now it works perfetctly!

[2020-06-17 08:28] wira-sandy opened #18 "Configuration tweak for User Modal"
I hope we can get some configuration to set the model we want to use. For now I got this warning on devTools :"**Class 'App\User' not found**", because my User model is in different place

[2020-06-19 13:55] makerstorage opened #19 "sending offline messages as emails"
This is a required improvement for this great package. Do you have any idea how to implement it? If you have a solution I am here to develop it and start a pull request. I am sure most of the users want to have it

[2020-06-26 12:19] munafio commented on #14
duplicated, see #10 suggestion

[2020-06-26 12:19] #14 closed, assigned to nobody

[2020-07-09 17:45] nachete1987 opened #20 "groups chat functionality"
Hello,
groups chat when are planned?
Thanks a lot

[2020-07-25 07:17] zeus6999 opened #21 "laravel echo"
Hi, does it work with laravel echo instead of pusher?

[2020-07-30 08:49] bake09 opened #22 "Push Notification's? PWA?"
Hi,

Is there any possibility for having push notifications when a new message has been sent?

Thanks

[2020-08-01 02:55] ahmadazizfauzan commented on #17
set APP_DEBUG to false in .env file, php artisan config:cache, php artisan config:clear

[2020-08-14 01:53] wikichua commented on #7
@munafio
1st of all, i have to be honest. this is a great package that i ever observed. I believe it yet to support laravel version 6 ahead due to the pusher package version requirement in ur composer
[code]
would u like to try it out in laravel version 7 with pusher ^4.1?

Thanks

[2020-08-14 03:22] wikichua commented on #7
@munafio
I had tested, this seem workable.
[code]

[2020-08-14 06:13] wikichua commented on #17
@ashif007 are u using php debugbar?
if yes, simply export the config/debugbar.php at the except section, add the chatify path. it works for me

[2020-08-14 09:17] sahilxjain opened #24 "Support for PHP 7.4"
Getting this issue on PHP 7.4 due to pusher/pusher-php-server ^3.4@dev

Problem 1
    - Installation request for pusher/pusher-php-server v3.4.1 -> satisfiable by pusher/pusher-php-server[v3.4.1].
    - pusher/pusher-php-server v3.4.1 requires php >=5.4 <7.4 -> your PHP version (7.4.3) does not satisfy that requirement.
  Problem 2
    - pusher/pusher-php-server v3.4.1 requires php >=5.4 <7.4 -> y

[2020-08-15 16:25] HDVinnie opened #25 "Pusher Alternative?"
Will Socket.io or Laravel WebSockets be an option?

[2020-08-15 21:23] munafio commented on #25
Now (v1.0), No!!
Later, Maybe! .. I'll keep it in mind in the next releases

[2020-08-15 21:23] #25 closed, assigned to nobody

[2020-08-15 21:26] munafio commented on #24
It will be supported in the next release.

[2020-08-15 21:26] #24 closed, assigned to nobody

[2020-08-15 21:27] munafio commented on #22
v1.0 does not support push notification functionality, but the next releases may have it as possible as I can.

[2020-08-15 21:27] #22 closed, assigned to nobody

[2020-08-15 21:30] munafio commented on #21
Yes, it does .. But I used Pusher to be as simple as possible for all developers .. and you can just publish the Javascript assets and modify it to satisfy your needs.

[2020-08-15 21:30] #21 closed, assigned to nobody

[2020-08-15 21:32] munafio commented on #20
Hi,
It will be available in the next release (v2.0)

[2020-08-15 21:32] #20 closed, assigned to nobody

[2020-08-15 21:34] munafio commented on #19
Can you provide more details about this functionality ?

[2020-08-15 21:37] munafio commented on #18
For now, you can publish assets and modify it by yourself .. and about your suggestion, I'll keep it in mind in the next release.

[2020-08-15 21:37] #18 closed, assigned to nobody

[2020-08-15 21:39] #16 closed, assigned to nobody

[2020-08-15 21:51] munafio commented on #9
Hi,
This happens because the package tries to get (attachment) property of non-object!!
You can solve that by modify ChatifyMessenger.php by publishing the assets .. and all you need is to change :
`$msg->attachment`
to
`$msg['attachment']`

[2020-08-15 21:59] munafio commented on #8
jQuery is already included with Laravel .. or if it's not, add it to your header

[2020-08-15 21:59] #8 closed, assigned to nobody

[2020-08-15 22:00] munafio commented on #7
It will be supported in the next release

[2020-08-15 22:00] #7 closed, assigned to nobody

[2020-08-15 22:01] HDVinnie commented on #24
Why are you closing this? It should NOT be closed until resolved.

[2020-08-15 22:02] HDVinnie commented on #20
Why is this closed? It should not be closed until its actually released.

[2020-08-15 22:04] HDVinnie commented on #7
Why is this closed? It should not be closed until #23 is merged and released.

[2020-08-15 22:05] HDVinnie commented on #22
Why is this closed? Should this not be labeled as a feature?

[2020-08-16 07:50] makerstorage commented on #19
We have an indicator of the User if he is online or offline.
If the user is offline people can message him. But he can not have info about having a message to him if he did not login to the web site. It can be great to have an email when you got an email while you are offline. So that you can click the link in the email and go to the chat web page. Twitter and others sends you an email saying that

[2020-08-16 10:04] wikichua commented on #7
@HDVinnie maybe @munafio would want to clean up the backlog for clearer picture to monitor. No worries. I believe his next release will be awesome.

[2020-08-16 16:38] lovecoding-git opened #26 "Can we use laravel-websockets instead of pusher?"
Hi Thank you for such great package.
Can we use laravel-websockets instead of pusher?

[2020-08-16 21:04] munafio commented on #26
For now, no!!
but later in the next release, may use it

[2020-08-16 21:04] #26 closed, assigned to nobody

[2020-08-16 23:26] connecteev commented on #21
@munafio some sample code using laravel echo would be great!

[2020-08-16 23:30] connecteev opened #27 "Installation for for Laravel over Nuxt.js"
I took a look at the functionality in the YouTube demo video, looks nicely done.

My tech stack is Laravel (back end) talking to a Nuxt.js front-end.  What are the steps needed to install this on Nuxt + Laravel? Would chatify work with that?

[2020-08-17 00:09] munafio commented on #27
Chatify v1.0 does not support integration with (react, vue, angular,nextjs, nuxtjs ...etc) or any other front-end frameworks! because it does not provide API's for that!!

But..!
In the next release (v2.0) it will be re-developed completely with Vue.js .. so it will provide you Back-End API's so that you can easily integrate it with the any front-end framework or even for mobile development.

[2020-08-17 00:09] #27 closed, assigned to nobody

[2020-08-17 00:11] munafio commented on #19
I'll keep that in mind in the next releases .. thanks for your suggestion.

[2020-08-17 00:14] #10 closed, assigned to nobody

[2020-08-17 07:28] zeus6999 commented on #21
Thank you

[2020-08-17 07:34] zeus6999 opened #28 "Notifications in the header"
@munafio  are you going to add notifications in the header to alert users that are unread messages?

in this way it seems to me that it is a complete chat

http://prntscr.com/u0sys1

Thank you

[2020-08-17 12:00] sinnbeck opened #29 "Isnt this "unsafe"?"
I have read through the source, and it seems that all chat is done on a single private channel called 'private-chatify'. On this channel, all messages are sent. That would also mean that if someone were to open developer tools (f12), select Network and then  WS (Websockets), they would be able to see all messages sent? Yes the package does make sure you only see you own chat messages, but as that

[2020-08-17 20:26] munafio commented on #28
maybe it will be included in the next releases .. but for now, you can implement it yourself easily when receiving messages from a specific user..
Thanks for your suggestion.

[2020-08-17 20:26] #28 closed, assigned to nobody

[2020-08-17 21:35] munafio commented on #29
It may be "unsafe" as you said! because I tried to make this package as simple as I can for other developers so I used the simplest techniques with this package .. and also I may not noticed that!!.. but, I'll re-develop it completely with better, secure, easy and clean code ..  and this will be fixed in the next releases
Many Thanks for you.

[2020-08-18 05:13] connecteev commented on #27
@munafio thanks for the update, any idea when the APIs and a vue version would become available?

[2020-08-18 06:01] sinnbeck commented on #29
No worries. I was just looking at the source as I am building something similar (using pusher with laravel echo). I am joining a personal private channel ('private-direct.' + user.id), which I then push to, using laravels own broadcasting (using your implementation should probably be able to do the same) :)

Something like

send() method on controller
[code]
and js
[code]

[2020-08-18 21:08] JugalRupela opened #30 "Route [login] not defined."
Hi,
I'm a newbie and a learner, I tried to follow the steps and install it in my local machine, everything installed smoothly but at the end of the installation when i try to access it keeps throwing this error:

"Symfony\Component\Routing\Exception\RouteNotFoundException
Route [login] not defined.
http://localhost/laravelprojects/chatApp/public/chatify"

I tried few times but i don't understand w

[2020-08-18 22:25] munafio commented on #30
Please check your app url and make sure that all your credentials are correct .. or re-install it again but follow the steps carefully as mentioned..

[2020-08-18 22:31] munafio commented on #29
This will be solved as your suggestion and maybe with some changes in a better way..
Thanks to you.

[2020-08-19 09:58] sinnbeck commented on #30
Did you remember to scaffold the auth stuff in laravel?

https://laravel.com/docs/7.x/authentication#authentication-quickstart

After that you should make sure that you have this in your web.php (routes folder)

[code]

[2020-08-23 06:57] munafio commented on #7
@HDVinnie @wikichua This will be fixed in the next release, #23 can not be merged, because it is not the right way to fix this issue.

[2020-08-23 07:19] wikichua commented on #7
Noted. Hopefully ur releases will be soon. Excited for ur next release

[2020-08-23 07:30] wikichua commented on #7
Ouch.. that's hurt.

[2020-08-29 04:09] #30 closed, assigned to nobody

[2020-08-29 04:16] munafio commented on #30
Thanks for you @Sinnbeck .
@JugalRupela , I thought you already scaffold the `auth` stuff in your Laravel application .. because a chat system like this won't work without authentication system!! right?

Follow the official documentation :
https://laravel.com/docs/7.x/authentication#authentication-quickstart

as @Sinnbeck mentioned above.

[2020-09-01 06:25] zeus6999 opened #31 "Chatify v2.0"
Hi Thanks for this great package.
How soon do you upgrade to Chatify v2.0?

[2020-09-01 08:30] munafio commented on #31
@zeus6999 as soon as I can, I'm working on other projects + It may takes a while to be released (v2) because I want to build something better than v1 for you .. so stay tuned.

[2020-09-01 08:30] #31 closed, assigned to nobody

[2020-09-07 14:58] MdTanvirHasanAnik opened #32 "how to start a chat from another blade not in chatify routes blade"
Please tell me how to start a new chat by sender and reciveer id only from outside of catify routes blade

[2020-09-08 08:38] munafio commented on #32
Can you please explain your issue ?

[2020-09-08 15:08] JugalRupela commented on #30
@sinnbeck Thank you so much for the help, it worked.
@munafio my bad I didn't, still a newbie :)

Thank you so much for your help! U guys rock as always 👍

[2020-09-09 04:53] ahmadazizfauzan commented on #10
1. in App\Http\Controllers\vendor\Chatify\MessagesController, change namespace to => App\Http\Controllers\vendor\Chatify;
2. composer dump-autoload
3. php artisan config:cache
4. php artisan cache:clear

[2020-09-11 13:42] MdTanvirHasanAnik commented on #32
Ok directly inserted to the database and solve it. Please brother can you complete the group chat soon, if it is possible when will get the update? You have done a great work indeed.

[2020-09-11 13:57] munafio commented on #32
As soon as I can it will be there with Chatify v2

[2020-09-11 13:57] #32 closed, assigned to nobody

[2020-09-13 16:58] Haronur opened #33 "Laravel 8 version"
I have integrated this package in laravel 8. But after following this instruction I had to do extra two things is below:
1) copy CSS & js folder from ```vendor\munafio\chatify\assets ``` and paste to the public folder in the root of my app and
2) As per laravel 8, I had to change
 `use App\Models\User;` to `use App\Models\User;`
 in the `MessagesController.php` file in the folder of```vendor\munaf

[2020-09-15 10:05] munafio commented on #33
First, assets(css, js,...) can be published as mentioned [here](https://github.com/munafio/chatify#3-publishing-assets) in the installations steps.
Second, Currently you can not customize Model's used in this package from it's config .. but! in the next version it will support that.

[2020-09-15 10:05] #33 closed, assigned to nobody

[2020-09-15 10:15] munafio commented on #17
Check out the suggestion above, and make sure that you're enabled client-event inside you Pusher account's settings as mentioned in the official documentation.

[2020-09-15 10:15] #17 closed, assigned to nobody

[2020-09-15 10:18] munafio commented on #5
I'll keep it in mind, thanks.

And about the user authentication system, I already added `Quick Note` about that [here](https://github.com/munafio/chatify#1-install-the-package-in-your-laravel-app).

[2020-09-15 10:18] #5 closed, assigned to nobody

[2020-09-15 10:19] #9 closed, assigned to nobody

[2020-09-15 10:20] munafio commented on #6
I'll keep it in mind in the next releases.

[2020-09-15 10:20] #6 closed, assigned to nobody

[2020-09-15 10:22] munafio commented on #15
Currently, It supports only one model .. but in the next release you would be able to customize it as you want.

[2020-09-15 10:22] #15 closed, assigned to nobody

[2020-09-15 10:22] #19 closed, assigned to nobody

[2020-09-16 23:14] TheGodFather05 opened #34 "Set routes controller namespace to published controller"
ho do i set the chatify routes controller namespace to the published

instead of

which is in vendor

[2020-09-17 10:03] edwinsmasher commented on #34
Am also having the same problem.. cant make changes with the published MessagesController

[2020-09-18 03:12] diky22rp commented on #16
How to fix this problem?

[2020-09-18 06:27] diky22rp opened #35 "Target class [] does not exist"
Hi, i've installed your package on my existing project and now when i try to access route i keep getting this error.

I am using laravel 7. Do you have any idea of how i can fix this problem?

[2020-09-19 20:45] munafio commented on #34
duplicated #10

[2020-09-19 20:45] #34 closed, assigned to nobody

[2020-09-19 20:47] munafio commented on #35
duplicated #16

[2020-09-19 20:47] #35 closed, assigned to nobody

[2020-09-19 20:47] munafio commented on #16
@diky22rp What causes this issue ? where!?
Did you scaffold Laravel's authentication system ??

As @niksBari did, follow the steps mentioned in the tutorial again.

[2020-09-20 04:03] Rifatalmamun commented on #9
D:\xamp\htdocs\chatify\chatify\vendor\munafio\chatify\src\ChatifyMessenger.php
 i replace all $msg->attachment to $msg['attachment'] .
but same error !

[2020-09-20 07:04] diky22rp commented on #16
@

After install your package, getting this error:

Target class [] does not exist , projectname\vendor\laravel\framework\src\Illuminate\Container\Container.php line 811

[2020-09-22 06:21] mepsd opened #36 "User it self shown in search results"
This is not the issue but serach result should be expect from user itself except app is awsome

[2020-09-22 14:04] munafio commented on #36
This is not an issue!
Or please provide more details if you considered it as an issue and should be solved.

[2020-09-22 14:04] #36 closed, assigned to nobody

[2020-09-23 12:08] prasanthka01 opened #37 "Assets Missing 404 Error"
I just tried to use chatify but I am getting 404 error for all assets, do I need to change anything?
![image](https://user-images.githubusercontent.com/7851345/94010411-8892e600-fdc3-11ea-80de-7c830a248257.png)

[2020-09-23 12:11] prasanthka01 commented on #37
No worries!
php artisan vendor:publish --tag=chatify-assets
Fixed my issue

[2020-09-23 12:11] #37 closed, assigned to nobody

[2020-09-23 17:32] CChirino opened #39 "How Find Users"
When I try to search for a user in the chat, nothing is thrown at me,
I modify the value to search for another
MessagesController.php
![Captura de pantalla de 2020-09-23 13-30-07](https://user-images.githubusercontent.com/34484098/94048157-114c5a80-fda1-11ea-8731-092758b6fc56.png)
Client view
![Captura de pantalla de 2020-09-23 13-31-57](https://user-images.githubusercontent.com/34484098/94048248-

[2020-09-24 05:28] alvin0 opened #40 "Change url server pusher"
I want to change the url Pusher and port server pusher because I want to use the server poxa (it is like the Pusher) https://github.com/edgurgel/poxa. Can you setup this to change that in config?

[2020-09-24 10:52] munafio commented on #39
@CChirino  That's because Chatify's `MessageController` not applies the changes you modified, see #10.

[2020-09-24 10:52] munafio commented on #39
Duplicated

[2020-09-24 10:52] #39 closed, assigned to nobody

[2020-09-24 10:58] munafio commented on #40
You can publish the assets as mentioned [here](https://github.com/munafio/chatify#3-publishing-assets) and modify it as your needs.

[2020-09-24 10:58] #40 closed, assigned to nobody

[2020-09-27 06:47] dhruv1998 opened #41 "Route [home] not defined. (View: D:\laragon\www\chatmic\vendor\munafio\chatify\views\pages\app.blade.php)"
hi everyone today I have integrated chatify with my app I followed the process of chatify to install but when i am trying to access chatify to their default url i am getting this error and I integrated with laravel 7

[2020-09-27 07:45] nguyenhuuphuchp commented on #41
I have the same problem, same question. After edit web.php then page without css and scripts

Route [home] not defined. (View: D:\LUAN VAN\bookshop\vendor\munafio\chatify\views\pages\app.blade.php).

[2020-09-27 07:56] munafio commented on #41
@dhruv1998 @phuchuu26
You need to publish the assets as mentioned [here](https://github.com/munafio/chatify#3-publishing-assets), and modify `app.blade.php` which will be inside your app (views/vendor/Chatify/pages) line 75 :
[code]
change `route('home')` to your home's route name.

if you don't have a name for your `home` route, set a name and refer that name to the link above as mentioned.

[2020-09-27 07:56] #41 closed, assigned to nobody

[2020-09-27 07:57] nguyenhuuphuchp commented on #41
![image](https://user-images.githubusercontent.com/57587201/94359485-b896fd80-00d1-11eb-869b-9ccf11e7da09.png)
![Uploading Screenshot (537).png…]()

[2020-09-27 08:02] munafio commented on #41
@phuchuu26 Looks like you did not published the assets .. please follow the installation guide step by step and it will work perfectly

[2020-09-27 08:52] dhruv1998 commented on #41
Thanks it worked for me

[2020-09-27 09:18] dhruv1998 commented on #41
One issue I can see in laravel 7 user model path is app/models/auth/user but you have used app/user which is making problem for me do you have any solution for that

[2020-09-27 09:23] munafio commented on #41
@dhruv1998 This will be fixed with v2, you will be able to customize the package as your needs.

[2020-09-27 09:24] dhruv1998 commented on #41
Great thanks for your help

[2020-09-29 05:32] ralphsunny22 commented on #30
app.js:1 POST http://127.0.0.1:8000/chatify/idInfo 500 (Internal Server Error)
please help me resolve. Installation was perfect. this ajax request error

[2020-09-29 11:20] sinnbeck commented on #30
@ralphsunny22

1. This issue is closed
2. Your issue does not seem to be related

[2020-09-30 05:32] diky22rp commented on #17
can i see your file config/debugbar.php at the except section?

[2020-09-30 14:38] cletuskingdom opened #42 "Every user can see all users, even the admin"
Please how can i customize the app to only view specific users.

I don't want the authenticated user to view everyone, i want to be able to specify which users an authenticated user sees.

[2020-09-30 19:40] munafio commented on #42
You can customize it by publishing the assets (controllers) and you need then to change the namespace of the package's controllers form the `config/chatify.php`

[2020-09-30 19:40] #42 closed, assigned to nobody

[2020-09-30 19:53] munafio commented on #10
If you are still facing this issue, please update your Chatify to v1.0.1 which released for issues fixes.

[2020-09-30 19:55] munafio commented on #42
Check out #10 if you followed the instructions above and not worked.

[2020-09-30 20:58] cletuskingdom opened #43 "it doesn't work over https"
I noticed i couldn't chat when my url contains https

[2020-09-30 22:14] munafio commented on #43
Modify Pusher options to work over SSL, you can find it by publishing the assets.
May help you : https://blog.pusher.com/ssl-everywhere/

[2020-09-30 22:14] #43 closed, assigned to nobody

[2020-10-02 14:13] dhruv1998 commented on #41
hii @munafio  chats are not real-time every time I need to click on the user symbol to get the msg can you help me to get the msg real-time without clicking the user symbol

[2020-10-02 16:03] munafio commented on #41
@dhruv1998 This is not related to this issue!
Please if you see this is an issue, open a new one.. But before that:
Check out your pusher credentials and hope to follow the docs step by step to get it to work.

[2020-10-02 16:05] dhruv1998 commented on #41
Ok I'll check again @munafio

[2020-10-02 16:25] munafio commented on #9
@Rifatalmamun @abdelkadergelany I'll look for that and fix it, stay tuned for any updates.

[2020-10-03 18:07] dhruv1998 opened #45 "chats are not real-time every time I need to click on the user symbol to get the msg can you help me to get the msg real-time without clicking the user symbol"
my pusher is working correctly I can see peak connection and the total message sent in pusher but it's not real-time

[2020-10-03 18:36] dhruv1998 opened #46 "Target class [MessagesController] does not exist."
after updating the package I am getting this error. I updated the package in this version v1.0.0 to v1.0.1

[2020-10-04 08:36] munafio commented on #46
@dhruv1998 Please can you provide me a details about this error? Where did happen?

[2020-10-04 08:46] munafio commented on #45
Provide me more details, open the  inspector and see if any errors occured or if pusher connection refused...

[2020-10-04 13:53] dhruv1998 commented on #45
Sorry for late reply I am busy a bit I'll chek and let you know @munafio

[2020-10-04 13:55] dhruv1998 commented on #46
@munafio i got this error in when I try to visit default route.  /chatify

[2020-10-04 14:01] munafio commented on #46
@dhruv1998 be clear with your question.. Where did it occure? Which file, line!?

[2020-10-04 15:43] dhruv1998 commented on #46
@munafio as per my understanding I am getting this error in routes web.php in line no 15 but I am not getting why it's coming that's why I am looking for a positive response from your side

[2020-10-04 17:52] munafio commented on #46
@dhruv1998 Open `yourapp/config/chatify.php` and check out `namespace` property,

If you published controllers, so it should be :
`App/Http/Controllers/vendor/Chatify`
This to make routes' namespace depends on the published controllers not package's conrollers.

or if not, it should be (as default) :
`Chatify/Http/Controllers`

[2020-10-06 01:16] dhruv1998 commented on #46
@munafio namespace property doesn't exist only in  config/chatify.php  this my whole chatify.php

   `return [

    /*
    |--------------------------------------------------------------------------
    | Messenger app name
    |--------------------------------------------------------------------------
    |
    | This value is the name of the app which is used in the views or elsewhere
    | in t

[2020-10-06 01:19] munafio commented on #46
@dhruv1998 namespace available with v1.0.1
please re-install the package and follow the installation guide  step by step and it will work as it should 🙏🏻

[2020-10-06 01:32] dhruv1998 commented on #46
thanks @munafio it worked

[2020-10-06 01:32] #46 closed, assigned to nobody

[2020-10-06 01:39] dhruv1998 commented on #45
@munafio I am getting this error in inspect for Pusher : Event recd : {"event":"pusher:error","data":{"code":null,"message":"Cannot broadcast client event (connection not subscribed to channel private-chatify)"}}

[2020-10-06 08:19] munafio commented on #45
@dhruv1998 duplicated #17
you need to enable client-events in your Pusher account as mentioned in the documentaion.

[2020-10-06 08:20] #45 closed, assigned to nobody

[2020-10-10 13:01] laurencei commented on #29
@munafio, what is the eta for v2 that you mentioned?

p.s. seems like an amazing package - great work.

[2020-10-10 13:35] munafio commented on #29
@laurencei I can not tell you right now, BUT! As soon as possible will be there😁

[2020-10-11 02:41] H4ck3r-x0 commented on #26
Thanks for this amazing package, we really need this to work on laravel-websockets

[2020-10-16 17:49] zeus6999 opened #49 "Upgrade to Chatify v2.0"
Hi,

How soon do you upgrade to Chatify v2.0?

Regards

[2020-10-17 10:39] munafio commented on #49
Welcome,
I can't say a specific time, but as soon as possible it will be released.
Regards

[2020-10-17 10:39] #49 closed, assigned to nobody

[2020-10-17 15:03] zeus6999 commented on #49
Chatify v2.0
1.Are you planning to add notification in the header?
2.Will it be possible to insert Chatify v2.0 in any existing laravel code?
Regards

[2020-10-21 08:17] nazirulfitrifauzi opened #50 "getContacts error when fetching using MSSQL"
I get this error
"SQLSTATE[42000]: [Microsoft][ODBC Driver 13 for SQL Server][SQL Server]A column has been specified more than once in the order by list. Columns in the order by list must be unique. (SQL: select top 1 * from [messages] where [from_id] = 2 and [to_id] = 1 or [from_id] = 1 and [to_id] = 2 **order by [created_at] desc, [created_at] desc**)"
when running using MSSQL db.

I fix it by c

[2020-10-21 22:09] isaacongoma opened #51 "Trying to get property 'dark_mode' of non-object"
Tring to get an error "Trying to get property 'dark_mode' of non-object" when I load the inbox page.

Here is the piece of my message controller
`        return view('Chatify::pages.app', [
            'id' => ($id == null) ? 0 : $route . '_' . $id,
            'route' => $route,
            'messengerColor' => isset(Auth::user()->messenger_color)?Auth::user()->messenger_color:' ',
            'da

[2020-10-24 03:32] munafio commented on #51
Try `['dark_mode'] ` instead of `->dark_mode`

[2020-10-24 03:32] #51 closed, assigned to nobody

[2020-10-24 03:40] munafio commented on #50
I think this issue related to MSSQL..
You can try removing DESC and run your query again.. OR! write a query instead of using QueryBuilder to match your needs.

[2020-10-24 03:40] #50 closed, assigned to nobody

[2020-10-24 12:53] cypriotxx opened #52 "Socket.Io"
Do you have any plans to release Socket.IO version of this pls without pusher ?

[2020-10-26 21:38] munafio commented on #52
Maybe with v2 will have (socket.io, laravel websokets, and pusher) support

[2020-10-26 21:38] #52 closed, assigned to nobody

[2020-10-28 17:00] animamahato16 opened #53 "When you are going to release the group chat ?"
Hi Munafio,

I am trying to implement the group chat, but facing problem.
Can you please guide me, how to proceed with that.

[2020-10-30 01:52] munafio commented on #53
With v2

[2020-10-30 01:52] #53 closed, assigned to nobody

[2020-11-04 15:39] deantheiceman opened #54 "Chat Widget"
Is there any chat widget support to put this on a website?

[2020-11-06 06:40] munafio commented on #54
@deantheiceman For now, no .. maybe in the next release will be there a chat widget for Chatify.
I'll keep it in mind.

[2020-11-06 06:40] #54 closed, assigned to nobody

[2020-11-19 20:06] KaptainMidnight opened #55 "Make support for Laravel 8"

[2020-11-20 02:54] parse-code commented on #55
+1

[2020-11-20 18:11] Asif-hussain opened #56 "Target Class Message Controller is missing"
Have a look at the attached image.
I have configured the project and it is saying  ..  Target Class Message Controller is missing

https://gyazo.com/3a62638f1aecfc08a83bca7f69ba7f13

[2020-11-21 04:53] munafio commented on #56
@Asif-hussain Please check out routes' namespace as mentioned in the docs.

[2020-11-21 04:53] #56 closed, assigned to nobody

[2020-11-21 04:55] munafio commented on #55
It will be supported with v2

[2020-11-21 04:55] #55 closed, assigned to nobody

[2020-11-26 16:21] habibadnan6854 opened #57 "How to Create Groups Chat"
Everything is fine but groups chat not fixed , please do the groups chat system

[2020-11-29 00:08] munafio commented on #57
As I mentioned before, will be there with v2 ASAP.

[2020-11-29 00:08] #57 closed, assigned to nobody

[2020-12-02 07:07] shamimanisa07 opened #58 "video/audio call"
any idea how to integrate video/audio call feature in this chat ?

[2020-12-02 10:51] AntonJanLindholm opened #59 "InvalidArgumentException Route [login] not defined."
I am getting this problem-
InvalidArgumentException
Route [login] not defined.
![problem](https://user-images.githubusercontent.com/66430940/100863322-b2881900-3494-11eb-9595-6796ecb28a66.PNG)
![problem 2](https://user-images.githubusercontent.com/66430940/100863323-b3b94600-3494-11eb-84ed-083796c98969.PNG)

[2020-12-03 10:13] AntonJanLindholm commented on #59
I fixed it by:
php artisan make:auth

[2020-12-04 14:28] pashyaaa opened #60 "messages:331 Uncaught ReferenceError: $ is not defined"
I followed the documentation but getting error messages:331 Uncaught ReferenceError: $ is not defined.
Chatify page is accessible but not able to access any of the functionality.
I am using laravel 8.

[2020-12-05 02:36] munafio commented on #59
As mentioned in the docs, Laravel auth scaffolding is required.

[2020-12-05 02:36] #59 closed, assigned to nobody

[2020-12-05 02:37] munafio commented on #60
You need to publish the assets, or JQuery is not installed in your app which is required for this version of Chatify

[2020-12-05 02:37] #60 closed, assigned to nobody

[2020-12-05 02:38] munafio commented on #58
You can customize it to fit your needs, just follow the instructions mentioned in the docs.

[2020-12-05 02:38] #58 closed, assigned to nobody

[2020-12-05 15:19] odion-cloud opened #61 "Target class [MessagesController] does not exist."
Illuminate\Contracts\Container\BindingResolutionException
Target class [MessagesController] does not exist.

[2020-12-05 15:41] odion-cloud opened #62 "Target class [App\Http\Controllers\vendor\Chatify\MessagesController] does not exist."
Illuminate\Contracts\Container\BindingResolutionException
Target class [App\Http\Controllers\vendor\Chatify\MessagesController] does not exist.

this error come up after publish config

[2020-12-05 15:51] munafio commented on #62
If you need to modify the MessagesController, you have to publish the assets as mentioned in the docs (on the configurations section).

Check out [this](https://github.com/munafio/chatify#controllers-namespace) **(Controller's Namespace)** for more information

[2020-12-05 15:51] #62 closed, assigned to nobody

[2020-12-05 15:53] munafio commented on #61
duplicated #46 + #62

[2020-12-05 15:53] #61 closed, assigned to nobody

[2020-12-05 16:03] odion-cloud opened #63 "Hello after publishing the asset i still get this error"
Target class [App\Http\Controllers\vendor\Chatify\MessagesController] does not exist.

[2020-12-05 16:13] odion-cloud commented on #63
fixed from controller name space
namespace App\Http\Controllers\vendor\Chatify;

[2020-12-05 16:13] #63 closed, assigned to nobody

[2020-12-07 17:02] munafio commented on #63
@odion-cloud Please do not OPEN a new issue if you already opened one before related to the same issue!!
You did open 3 issues related to the same one!!

[2020-12-09 09:19] AntonJanLindholm opened #64 "Security when removing messages."
I am wondering, When I delete a message, will it disappear from the database and that you can not backtrack the information that has been written?
mvh Anton

[2020-12-09 11:46] sathia-musso commented on #55
hi, when is v2 going to be released more or less?

[2020-12-09 13:32] munafio commented on #64
@AntonJanLindholm  Yes, it will be deleted from the database, so it is not a soft delete.

[2020-12-09 13:32] #64 closed, assigned to nobody

[2020-12-09 16:51] munafio commented on #55
@sathio Because of my job and time by general it may be delayed, I'm working hard for Chatify v2 to be released ASAP.

[2020-12-13 15:31] abhilash14001 commented on #9
Me also getting same error... ....
After troubleshooting I came to know while sending the message it is using the same id again and again I think problem in id random generation i.e. mt_rand in send function

[2020-12-13 15:38] abhilash14001 commented on #9
When that id is called by fetch message it is unable to load, bcz that id is not inserted in database at all plz check into it

[2020-12-13 18:05] adimoz opened #65 "the routing for chatify dose not work"
i followed the steps and made sure i did it right, however when i visit /chatify route it gives me the interface but nothing more, it might be because i am using laravel 8, i tried to fix it by moving the controller and changing all routes at the web.php but still stuck, thank you.

[2020-12-15 07:36] odion-cloud commented on #65
same here

[2020-12-15 10:52] pallavbansal commented on #65
same. Any fix ??????

[2020-12-16 15:36] munafio commented on #65
Make sure to follow the steps mentioned in the documentation.
* Currently,  Laravel 8+ not supported by Chatify v1 .. But v2 will support Laravel 8+, and will be released ASAP.
Thank you

[2020-12-16 15:36] #65 closed, assigned to nobody

[2020-12-18 06:57] odion-cloud opened #66 "when is this package going to support laravel 8x versions"

[2020-12-18 15:17] #66 closed, assigned to nobody

[2020-12-19 00:10] ramay2088 opened #67 "multiauth system suppot"
Do this package support multi auth system?

[2020-12-27 22:47] munafio commented on #67
Currently (Chatify v1) not supports multi-auth system, but maybe in the next versions.

[2020-12-27 22:47] #67 closed, assigned to nobody

[2021-01-06 22:39] stoneshaq opened #68 "Favorites table"
Thanks for the great package. how can we change the name of favorites table?
Because i have another package already using favorites table.
 favorites-> chat_favorites

thanks alot

[2021-01-07 11:22] munafio commented on #68
@stoneshaq Thank you,
You can modify favorites migration file to change table's name before running `php artisan migrate` at the installation process, or write a migration to do that. Then you can run the migrate command.

[2021-01-07 11:22] #68 closed, assigned to nobody

[2021-01-07 12:21] lelu0 commented on #66
Actually this package may work with L8 after few quite simple changes.
What have I done:
1. Install as in the tutorial
2. Fix route naming issue by publishing package views and changing route in Line:75 of  `resources\views\vendor\Chatify\pages\app.blade.php`
for
`<a href="/"><i class="fas fa-home"></i></a> `
3. If you have chatify page but can't interact and in the console is error about '$' bein

[2021-01-14 07:34] mithauae opened #69 "jquery issue"
given the cdn link in headlinks.blade.php as

<script
  src="https://code.jquery.com/jquery-3.5.1.min.js"
  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
  crossorigin="anonymous"></script>

and given publish command

php artisan vendor:publish --tag=chatify-views

still getting the error
Uncaught ReferenceError: $ is not defined

[2021-01-15 20:06] ArtMin96 opened #70 "Tailwind support"
Hi. Thank you. Amazing job. Is there any way that we can use it with a tailwind?

[2021-01-16 15:43] platomedical commented on #52
Awesome project @munafio. Perhaps using the native Broadcasting (https://laravel.com/docs/8.x/broadcasting) would be more extendable?

[2021-01-16 15:51] karabayyazilim opened #71 "Groups Messaging"
When will group messaging arrive ?

[2021-01-18 18:52] munafio commented on #70
Thanks for reaching out.
Yes you can customize the styles and the views ...etc, as your needs by publishing the assets.

[2021-01-18 18:52] #70 closed, assigned to nobody

[2021-01-18 18:52] munafio commented on #71
Will available with Chatify v2

[2021-01-18 18:52] #71 closed, assigned to nobody

[2021-01-18 18:55] munafio commented on #69
you need to publish the assets (css, js..) + the views and then add jQuery if it does not exist.

Or please provide error's details and where it occures.

[2021-01-18 18:55] #69 closed, assigned to nobody

[2021-01-18 19:11] munafio commented on #69
Example:
headlinks.blade.php :
[code]

add jQuery after the `scripts` comment like the above example

[2021-01-20 09:44] B3K4682 opened #73 "Chats are not real-time"
I have enabled client events, but chat still isn't real-time. why?

[2021-01-20 10:24] Karma99 commented on #73
I have enabled client events, but chat still isn't real-time. why?

[2021-01-20 10:47] munafio commented on #73
@Karma99 @B3K4682 Please open up dev tools and check out pusher's messages if any errors occurred there? then provide me with the details so I can help you.

[2021-01-20 10:52] B3K4682 commented on #73
[code]

[2021-01-20 10:54] munafio commented on #73
@B3K4682 Check out this issue #17

[2021-01-20 10:55] B3K4682 commented on #73
Thank you!

[2021-01-20 10:55] #73 closed, assigned to nobody

[2021-01-23 15:37] munafio commented on #52
@platomedical Thanks for reaching out.
Yes, As I announced before, Chatify v2 completely will be re-designed.

[2021-02-11 00:34] ayman-elmalah commented on #24
Please dont close this issue, it's important for users, you can support it for this release

[2021-02-12 16:42] San-tiago commented on #9
is this solved? i have the same issue though i change  $msg->attachment to $msg['attachment'] .

[2021-02-13 11:03] munafio commented on #9
@San-tiago If you got the same issue, it will be fixed in the next release ASAP .. So, stay tuned.

[2021-02-14 14:03] San-tiago commented on #9
Oww okay, thank youuuu. i will wait for it.

[2021-02-19 19:15] hattorihanzo86 opened #75 "chatify/updateSettings(Console Log)"
Failed to load resource: the server responded with a status of 500 (Internal Server Error)
the routes does not properly read even its on routelist, route:clear

Laravel 5.8

[2021-02-24 11:45] rizwansaleem70 opened #76 "No Option For Multi Guard Auth"
I have 3 types of users, each with different auth guard types.

Admin
Influencer
Brand

In your code, you've only added Auth::user() there isn't any option or way to add guard() so we can use different auth guard types.

Regards,
Rizwan

[2021-02-27 21:29] munafio commented on #76
@webribs Hi,
there is an option to modify/customize package's controller to meet your needs, so you can check it out.

[2021-02-27 21:29] #76 closed, assigned to nobody

[2021-02-27 21:29] munafio commented on #75
@supacoderzpro Please can you provide more details about your issue ?

[2021-02-28 09:21] hesammoosapour opened #77 "Pusher php version 7.4 error"
Pusher php server only supports verisons of php below 7.3  , but I have a higher version of php .

Please upgrade chatify to support pusher php server of higher version.

[2021-02-28 16:58] DevelopmentNightmare commented on #77
Yes, I also need 7.4!

[2021-02-28 18:46] DevelopmentNightmare opened #78 "Failed to load resource: the server responded with a status of 500 ()"
I get the following issue when clicking on a chat:

Failed to load resource: the server responded with a status of 500 () - <localhost>/messenger/idInfo

Which would translate to the function **idFetchData** not being found? Also the contact don't seem to get fetched.

PHP7.3
Laravel 8 (I know it's supported in V2 but I thought I'd give it a try)

[2021-03-01 08:58] Argornst commented on #77
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - munafio/chatify[v1.0.0, ..., v1.0.1] require pusher/pusher-php-server ^3.4@dev -> found pusher/pusher-php-server[v3.4.0, v3.4.1] but it conflicts with your root composer.json require (^5.0).
    - Root composer.json requires munafio/chatify ^1.0 -> satisfiable by munafio/chatify[v1.0.0, v1.0.1].

Use the

[2021-03-05 13:19] munafio commented on #77
It will be supported in the next release SOON!

[2021-03-05 13:19] #77 closed, assigned to nobody

[2021-03-05 13:22] munafio commented on #78
@Dynalogical Can you please provide me the exact error message by opening the dev-tools > Network > then the request that causing the error.

[2021-03-05 13:26] DevelopmentNightmare commented on #78
I forgot to close this. Turned out a migration went wrong because of the Favorites table. Could that be renamed to chat_favorites in the future? Anyhow, I got it working on Laravel 8 without any hassle!

[2021-03-05 13:26] #78 closed, assigned to nobody

[2021-03-05 13:32] munafio commented on #78
@Dynalogical Yes, of course it will be renamed to avoid issues like this in the future!

[2021-03-05 13:37] blpraveen opened #79 "Laravel Chatify Install issue PHP version 7.4"
Hi,
I am trying to run the composer update with PHP version 7.4 and I get this error. Is it possible to resolve.

![laravel-chatify](https://user-images.githubusercontent.com/3274289/110122691-f2d59b00-7de5-11eb-8fc1-429cb05891e8.png)

[2021-03-07 08:14] prashantsingh2408 opened #80 "How I can remove middleware on '/chatify' route(web.php of vendor chatity). Which redirect '/chatify' to '/login'(Laravel auth)."
Problem:
* I implement chatify in my current project.When I route through through `'/chatify' ` it redirect me to `'/login'`**(Laravel auth)** url.
*  My project  had already different  **login** and **registration pages ** using other view and controller(not uses laravel auth)

web.php
`
![Screenshot from 2021-03-07 13-33-42](https://user-images.githubusercontent.com/17498602/110233399-d3578300-7

[2021-03-07 13:27] munafio commented on #80
@prashantsingh2408 You don't have to modify it from the package itself! you have to configure your Laravel app to use your custom auth system.
 and also I have to mention that this package requires the auth scaffolding to be worked! thats why this issue appears to you.

[2021-03-07 13:27] #80 closed, assigned to nobody

[2021-03-07 13:31] munafio commented on #79
Your PHP version is not compatible with Pusher's requirement.
So, you need a php version that meets Pusher's requirements OR you have to wait the next release which will solve this issue.

[2021-03-07 13:31] #79 closed, assigned to nobody

[2021-03-07 13:35] munafio commented on #75
This issue will be closed, because of inactivity!

[2021-03-07 13:35] #75 closed, assigned to nobody

[2021-03-07 14:20] prashantsingh2408 commented on #80
Yes,you are right.It can be configure to use custom auth.Thanks for ur help👍 @munafio .

[2021-03-08 06:42] hattorihanzo86 commented on #75
Still the issue will never resolve even you close it brother some resources cannot be load with status of 500 :) (Internal Server Error)

[2021-03-09 20:23] marioRaouf opened #81 "only html page"
I just tried to use chatify and installed it but it only gave a me an HTML page, also the inputs not working(type a message and upload chose file).
how can I solve this

[2021-03-19 12:33] munafio commented on #81
@marioRaouf You have to publish the assets, please follow the installation steps carefully.

[2021-03-19 12:33] #81 closed, assigned to nobody

[2021-03-20 00:43] marioRaouf commented on #81
i did that and still the same

[2021-03-22 14:32] dhi2 opened #82 "pusher-php-server ^5.0 support"
Please add support for the latest `pusher-php-server` ^5.0.

[2021-03-24 18:42] munafio commented on #82
@dhi2 Will be supported with Chatify v1.2.0

[2021-03-24 18:42] #82 closed, assigned to nobody

[2021-03-28 03:00] prashantsingh2408 opened #83 "I want to make botton-right pop up message box(like facebook)."
The message box that is implemented in chatify view is in whole page. I need to make a pop up  box like chatbox (like facebook).

[2021-04-03 12:08] munafio commented on #83
Currently, it does not support this feature. but you can make a fixed box and embed /chatify into it.

[2021-04-03 12:08] #83 closed, assigned to nobody

[2021-04-09 11:15] Rk-choudhary-ck opened #84 "No internet connection"
Hii Munafio
i have face a problem with chatify here is some messages are send to user and few messages are not send. and top of the screen
![Screenshot (1)](https://user-images.githubusercontent.com/71312337/114172238-06c76c00-9953-11eb-9580-9a680bf54e3c.png)
 show internet problem how i can overcome from this problem please give me any idea.

[2021-04-12 08:04] jrcambonga opened #85 "Actually this package may work with L8 after few quite simple changes."
Actually this package may work with L8 after few quite simple changes.
What have I done:
1. Install as in the tutorial
2. Fix route naming issue by publishing package views and changing route in Line:75 of  `resources\views\vendor\Chatify\pages\app.blade.php`
for
`<a href="/"><i class="fas fa-home"></i></a> `
3. If you have chatify page but can't interact and in the console is error about '$' bein

[2021-04-12 08:05] jrcambonga commented on #85
Hello, I tried this, but there's '$' in my error logs. Cant interact with my Chatify Page. Please help.

[2021-04-12 16:12] munafio commented on #85
@jrcambonga Follow as @lelu0 have mentioned .. if still the same! you need to publish the assets (views) then open `views/layouts/headLinks.blade.php` and add jQuery link/script there.

 + Thanks to @lelu0

[2021-04-12 16:12] #85 closed, assigned to nobody

[2021-04-12 16:15] munafio commented on #84
@Rk-choudhary-ck There is a problem with your connection OR with your pushers' account, so check your credentials too.

[2021-04-12 16:15] #84 closed, assigned to nobody

[2021-04-12 23:12] jrcambonga commented on #85
great, thank you!

On Tue, Apr 13, 2021 at 12:13 AM Munaf Aqeel Mahdi ***@***.***>
wrote:

[2021-04-13 10:04] Zubair-Iftikhar opened #86 "Route [home] not defined"
Laravel Version:7.30.4
i've install package latest version using documentation.

![screencapture-crm-go-chatify-2021-04-13-14_56_41](https://user-images.githubusercontent.com/11349938/114534521-85c8e700-9c68-11eb-8717-75fe963e6d4f.png)

![Packages](https://user-images.githubusercontent.com/11349938/114535124-27e8cf00-9c69-11eb-8006-498c9aab0b26.PNG)

![Route Issue](https://user-images.githubuserco

[2021-04-13 10:12] Zubair-Iftikhar commented on #86
issue Solve. issue due to home route not exit on my platform.i've create a route with the name home now it'w working fine

[2021-04-13 10:12] #86 closed, assigned to nobody

[2021-04-13 14:11] tranpqvu opened #87 "Can i use it with octobercms?"
Can i use it with octobercms?

[2021-04-13 18:17] munafio commented on #87
@tranpqvu If it is based on Laravel, so you can install it as any other Laravel app .. just follow the installation steps as mentioned in the docs.

[2021-04-13 18:17] #87 closed, assigned to nobody

[2021-04-14 09:27] MilanUnjiya4149 opened #88 "Trying to get property 'attachment' of non-object"
There are the issue with fetch messages.
The attachment is display on right side bar shared sections but not able to load chat sections.
PFA image.

![Screenshot_2](https://user-images.githubusercontent.com/53517616/114687559-85485300-9d31-11eb-99b7-c86c813b743a.png)

[2021-04-14 10:34] MilanUnjiya4149 opened #89 "attachment is not delete from storage on delete conversations operations."
Attachment should be delete from storage on delete conversation operations.

[2021-04-14 10:38] vzool commented on #89
I think this should be the channel's option which may vary from channel to channel.

[2021-04-14 12:00] MilanUnjiya4149 commented on #89
Attachment is not related to channel... Need to write logic for delete related attachments from storage.

[2021-04-19 06:20] hesammoosapour commented on #77
@Argornst Even by using option --with-all-dependencies it still doesn't work even when I put it inside provide brackets.

[2021-04-19 11:52] roqstarco opened #90 "Responsive issues"
When typing on mobile keyboard covers entry field. Can't see what one is typing. In youtube video preview the keyboard is also not shown when typing. How to solve this? Thanks.

[2021-04-19 14:19] mh24409 opened #91 "chat between two tables for example users ad admins"
can i make chat between users and admin and in the same time between users and manager? , please help.

[2021-04-26 03:12] mh24409 commented on #80
Do you change auth guard ?

[2021-04-26 03:37] munafio commented on #88
This will be fixed in the next release V1.2.0 ASAP .. I'll Keep you in touch.

[2021-04-26 03:40] munafio commented on #90
@roqstarco  You can change the CSS/JS/HTML(views files) as your needs by publishing the assets as mentioned in the docs.
Please check out `publishing the assets` section in the docs, then `Views` part.

[2021-04-26 03:40] #90 closed, assigned to nobody

[2021-04-26 03:42] munafio commented on #91
@mh24409 As mentioned in the docs, there is an option to customize the package as your needs .. checkout `publishing the assets` section.

[2021-04-26 03:42] #91 closed, assigned to nobody

[2021-04-26 03:51] munafio commented on #89
@MilanUnjiya4149 There is already a method to delete a conversation from DB + Storage as you can see : https://github.com/munafio/chatify/blob/7a0a4f3ea91e6282f20133ec0dbb021692ca10a9/src/ChatifyMessenger.php#L311

But I think it's related to #88 issue, I'll check it out and fix it ASAP.

[2021-04-26 03:51] #89 closed, assigned to nobody

[2021-04-26 04:29] MilanUnjiya4149 commented on #88
OK, Thank You.

[2021-04-26 04:36] MilanUnjiya4149 commented on #89
OK, Thank You.

[2021-04-30 06:32] mh24409 commented on #76
@webribs  how you do that ?

[2021-05-01 10:39] afrasiyabhaider opened #92 "Need API Routes"
Hello
I'm glad to see such a nice and clean package for Chat. Your efforts are much appreciated by the community of Laravel. I wanted to ask is there any API routes available for this package?
I've a mobile app in react native and wanted to connect that App with my Laravel website.

If there is anything I can help you with please tell me I'll be happy to collaborate.
ping.afrasiyab.haider@gmail.co

[2021-05-03 10:15] kea137 opened #94 "Refer the change of the Composer"
I have been receiving errors on the php pusher package and needs to push its version to 4.0

[2021-05-06 17:41] sglavach commented on #85
Any help on identifying where (what files?) I need to change the User Model to 'use App\Models\User' would be appreciated.
Thanks!

[2021-05-07 13:31] kaip-e opened #95 "Menu not popping up on Firefox"
I'm having a issue where the chat menu does not show up by clicking the cog icon. However on all other plattforms it seems to work. A quick advice on how to resolve this issue would be great.

![image](https://user-images.githubusercontent.com/58008914/117456573-a5da8600-af48-11eb-9fb1-420251fac10e.png)

Thanks for the help!

Edit: By changing the HTML so that the "settings" tab is showing ( chang

[2021-05-09 15:30] munafio commented on #95
@kaip-e you have the ability to change the js/css/html assets and customize it to meet your needs by publishing the assets as mentioned in the documentation

[2021-05-09 15:31] #95 closed, assigned to nobody

[2021-05-09 15:33] munafio commented on #85
`src/Http/Controllers/MessagesController.php` line **11**

[2021-05-09 15:37] munafio commented on #92
@afrasiyabhaider Thanks for reaching out, currently (v1.0.1) doesn't provide api routes, but in the next version which is v1.2, there will be an api routes and docs about using them.

[2021-05-09 15:43] afrasiyabhaider commented on #92
@munafio is there any release date available?

[2021-05-09 15:45] munafio commented on #92
Actually, no. I'll do my best to release it ASAP.

[2021-05-11 03:53] munafio commented on #94
As mention in the docs (Notes section) and at you PR, this will be fixed in the next release which is v1.2.0 .. will  be released ASAP

[2021-05-11 03:53] #94 closed, assigned to nobody

[2021-05-11 07:01] sofhin opened #96 "Is encryption applied?"
Would like to ask whether any encryption algorithm been applied in this package.

[2021-05-13 19:33] MohammaedAlani opened #97 "can't load message (real time) on chat view"
show this link
https://ibb.co/c1KDGgF

look on tab people load new message but on chat not showing new messages.

[2021-05-15 06:46] munafio commented on #97
@MohammaedAlani please checkout console's errors, myabe there is an internal errors preventing receiving new messages

[2021-05-15 06:54] munafio commented on #96
@sofhin this package uses Pusher's private channels you can read more about it [here](https://pusher.com/docs/channels/using_channels/private-channels/),
in the next release, will support [End-to-End encryption](https://pusher.com/docs/channels/using_channels/encrypted-channels) which provides the same subscription restrictions as private channels. In addition, the data field of events published t

[2021-05-15 06:54] #96 closed, assigned to nobody

[2021-05-18 22:43] #97 closed, assigned to nobody

[2021-05-19 19:34] spartyboy opened #98 "Use with multiple guards"
How do i configure chat to b between multiple guards assuming between users and admin?

[2021-05-20 16:11] nikhil-lu210 opened #99 "It seems like that it doesn't support on Laravel 8"
I'm trying to implement this package into my Laravel 8 Project. But it's throwing errors. What should I do now...?

I just badly need to implement a real time chat on my project.

[[Note: I've used this package before twice in my Laravel 7 project. And it's worked fine as well.]]

[2021-05-20 17:52] mprince2k18 commented on #99
Same here.
I am facing a blank conversation blade where no click method is working.

[2021-05-20 19:13] imajkumar commented on #99
update composer
"pusher/pusher-php-server": "^7.0"
its works very nice in laravel 8 also
Thanks @munafio

[2021-05-22 08:35] munafio commented on #99
@nikhil-lu210 @mprince2k18 Please read Notes section mentioned in the Readme.md (Documentation).

[2021-05-22 08:35] #99 closed, assigned to nobody

[2021-05-22 08:48] munafio commented on #98
@spartyboy Thanks for reaching out,
currently, this package does not support multi-guard system by default, but you have the ability to change/modify package's assets (views, js, css, or controllers) as mentioned in the docs .. so you can implement it yourself.

[2021-05-22 08:48] #98 closed, assigned to nobody

[2021-05-23 00:54] Mhmdabbasi opened #100 "laravel 8 support"
Can I use this package with laravel8? And the things that I have to edit then?!
If not; then can you please tell us when **Chatify v2** going to be release?

[2021-05-23 11:28] ayheikal opened #101 "it doesnt support above php 7.4"

[2021-05-23 14:06] salarzaidi commented on #101
same here
![image](https://user-images.githubusercontent.com/38673499/119263728-ab4af800-bbf9-11eb-9a04-fddd267b977f.png)

![image](https://user-images.githubusercontent.com/38673499/119263810-f82ece80-bbf9-11eb-9636-aa83e6da357f.png)

[2021-05-23 21:42] munafio commented on #100
@Mhmdabbasi Hi
Currently, you can make it work with Laravel 8.x by doing some manual changes as mentioned [here](https://github.com/munafio/chatify#laravel-8-support)

+ The next release (v1.2.0) will resolve this issue by default .. and it will be released very soon.

[2021-05-23 21:42] #100 closed, assigned to nobody

[2021-05-23 21:47] munafio commented on #101
@salarzaidi Hi,
It seems you required pusher manually in your app! you can not change package's dependencies like that .. pusher v7.x will be supported in the next release (v1.2.0) and it will be releases very soon.

[2021-05-23 21:47] #101 closed, assigned to nobody

[2021-05-24 03:40] sofhin opened #102 "Real time chat"
![Capture](https://user-images.githubusercontent.com/67450858/119293308-bb5be980-bc84-11eb-912d-33032b5000f0.PNG)

What's wrong with it?
I can get the notification, but I have to click on the user to update the message.
I do enable the client events in the pusher.

Any idea on how to solve it?

This is what I got in the debugger
![image](https://user-images.githubusercontent.com/67450858/119293403

[2021-05-24 03:55] davymaish opened #103 "Support for php v^7.4 and release for chatify 2"
Hi, thank you for the great package. I have some questions though. How much longer must we wait for the release of chatify 2? why not make your progress known and maybe we can contribute and help you speed up the completion of chatify 2? I think as a team chatify 2 can take less time to completion. That the advantage of open source: developers contribution, right?

[2021-05-24 04:10] sofhin commented on #103
Hi, Davymaish. Would like to ask whether you tried to add something the package.
I am currently trying to add the feature of deleting selected message, but I encountered some issue.

[2021-05-24 05:41] davymaish commented on #103
Im currently working on a project running on laravel v8 and php v7.4. I can't integrate the package on my project because it is locked to php v7.3. My project dependencies require php v7.4 and above. So the changes I have attempted is to migrate the package to laravel 8 and make it run on php v7.4. About php v7.4, pusher version required in the package is locked to require php v7.3. So if you edit

[2021-05-24 06:11] sofhin commented on #103
Understood your request. So you are still waiting for the new version to be released. What's your project is?

[2021-05-24 06:46] munafio commented on #103
@davymaish @sofhin Thanks for reaching out,
**First,** the next release is v1.2.0 which will be released in the next few days .. this version will resolve a lot of issues introduced by the developers and will come up with updated dependencies and UI/UX improved.. so, this version will resolve your issues.

**and second**, about v2 .. there will be a major changes so it may take some time to be rel

[2021-05-24 06:46] #103 closed, assigned to nobody

[2021-05-24 07:44] sofhin commented on #103
@munafio is there any features been added in version 1.2?

[2021-05-24 07:52] munafio commented on #103
@sofhin  No, as I mentioned above, v2 will come up with the new features ..

so, v1.2 is only coming to resolve community issues, Laravel 8.x support, pusher and other dependencies updates, and improvements..

[2021-05-24 08:05] sofhin commented on #103
@munafio  Alright. BTW, I have the issue with receiving the message, there will be shown on left side, but the conversation side will not be updated unless I click on the user.

[2021-05-24 08:18] sofhin opened #104 "The settings button has no response"
The settings button will somehow has no response.

Any idea on how to fix it.

[2021-05-24 08:22] munafio commented on #103
@sofhin
Please keep things related to this issue only.

I'll check your issue and response to it.

[2021-05-24 08:26] munafio commented on #102
@sofhin
I have reviewed your issue, and I'll check it on my side because it supposed to be work unless you have changed something causing this issue.

- Is there any errors that may prevent this action!?
- Have you done any changes in the code?
- When you first installed the package, was it working as expected?

Please provide me with your answers to help fixing this issue.

[2021-05-24 08:31] munafio commented on #104
@sofhin since you have opened 2 issues related to the UI, I guess you have issues with the js codes, or jQuery issue..

Please check your console and track if any errors occurred

[2021-05-24 08:39] sofhin commented on #102
There is no error as shown in the second screenshot, that's why I am curious as well.
Yes, I added two functions for deleting the selected message.
Yes, it works well. Even I copy and paste the whole code.js from your repository to my current one, it still the same.

[2021-05-24 08:41] sofhin commented on #104
![image](https://user-images.githubusercontent.com/67450858/119321083-d7748080-bcae-11eb-9e52-ba0ffb0be7f8.png)

For this, there is no error shown. From the very first day I install this, it is like this, sometimes it has response but somehow it does not.

Somehow it will show this.
DevTools failed to load SourceMap: Could not load content for http://127.0.0.1:8000/js/popper.js.map: HTTP error: st

[2021-05-24 08:44] munafio commented on #102
Since it was working well! So you have to track what you have done from changes to know where the issue is.

[2021-05-24 08:51] munafio commented on #104
@sofhin this is just a warning and not related to your issue,
What you can do, is to remove the assets :
- `public/js/chatify`
- `public/css/chatify`
- `resources/views/vendor/chatify`

and re-publish the `assets` and `views` as mentioned in the docs.

This will restore the default package's UI.

[2021-05-24 08:54] sofhin commented on #104
Well, let me try

[2021-05-24 09:10] munafio commented on #104
I'll check that, and keep you in touch

[2021-05-24 09:11] sofhin commented on #104
sure, thanks

[2021-05-24 09:11] sofhin commented on #102
well, I think that's the only solution

[2021-05-24 09:56] #102 closed, assigned to nobody

[2021-05-24 10:22] sofhin opened #105 "File extension is not allowed"
Just to confirm.

Whenever I upload the image with png extension, it will show the error, the file extension is not allowed.

I can only upload the file with extension txt, jpg, jpeg.

But the allowed images file extension are jpg, jpeg, png and gif.
And for the file are zip, rar and txt.

Am I only the one having this issue or?

[2021-05-24 11:47] munafio commented on #105
@sofhin I don't know what changes you have done on the package to open all these issues here!
You have to uninstall the package and re-install it as mentioned in the docs and then I guarantee that it will work as expected.

[2021-05-24 11:47] #105 closed, assigned to nobody

[2021-05-24 11:57] munafio commented on #104
@sofhin From my side, I have reviewed your issue and all works well ..
all issues you have opened are related to the UI and I don't know the changes you have done from your side that causing these issues!

You mentioned in another issue that it was working well before your changes,
If so, you have two options:
1- Track your changes that causes these issues.
2- Re-install the package and follow the

[2021-05-24 11:57] #104 closed, assigned to nobody

[2021-05-24 12:58] sofhin commented on #105
Sorry for disturbing. As I mentioned in the question, it is for confirmation.
Thanks for your quick reply and you may delete this issue.

[2021-05-24 13:15] davymaish commented on #103
@munafio thanks for your response. As per your assurance that v1.2 is only a few days to be released, I will halt my dev progress of my project as the functionality I'm working on heavily rely on chatify, and thanks for the good work and kindness. I will stay tuned just waiting for the release. Hope it won't take longer than a week.
Thanks again for your response and great package.

[2021-05-24 13:59] munafio commented on #105
I'm working on it,to be fixed with the next release v1.2.0
Thanks to you.

[2021-05-24 14:03] munafio commented on #103
I'll do my best to release it within a week.

[2021-05-24 14:35] davymaish commented on #103
Thank you

[2021-05-25 04:57] spartyboy commented on #98
I implemented it but haven't made it work generally as for now it only suit my usecase i should do that any time soon though and make a pull request

[2021-05-25 12:58] sultan-vc opened #106 "How i can start a chat from another blade (not chatify page)"
Hey!
Thank you very much for the work done.

I have a large number of other pages on my site, some displaying individual users. How can I start a chat with them outside /chatify?

Thanks a lot in advance
With best wishes!

[2021-05-25 14:54] munafio commented on #106
@sultan-vc Thanks for reaching out,
Currently, Chatify does not support this feature, you can only chat within `/chatify` messenger page .. but you can create an Iframe linked to that page (/chatify) with some stylings..  and in this way you can chat with users while browsing other pages.

and maybe in the next releases will be supported, I'll keep it in mind.

[2021-05-25 14:54] #106 closed, assigned to nobody

[2021-05-25 16:01] munafio commented on #92
@afrasiyabhaider Actually, Chatify v1.2.0 will not have API routes, because the whole project is not written to use it with APIs ..

Chatify v2 as I planning, will be re-designed completely and will come up with a better UI/UX  and code quality, APIs, security improvements, and mush more .. and the UI will be design with Vue.js .

after releasing v1.2.0 which will be released in the next few days,

[2021-05-25 16:01] #92 closed, assigned to nobody

[2021-05-25 16:10] afrasiyabhaider commented on #92
@munafio I wanted to tell you that I've managed to write API routes by using your web-based code... Tell me if you need a Postman doc from me. :)

[2021-05-28 22:21] xenonwellz opened #107 "Unable to install on php >= 7.4"
I've been unable to install on newer PHP versions ( >= 7.4 ) because it requires version 3.4.0 or 3.4.1 of pusher-php-server which is only supported by PHP versions >=5.6 and < 7.4

Please is there any fix for this, i use PHP 7.4.18. It will also be very nice if it supports pusher-php-server ^5.0 because it is widely compatible.

 Thanks

[2021-05-29 02:17] davymaish commented on #107
Just chill out. @munafio gave a word at this issue #103 that within this week he is going to release chatify v1.2 which will have updated dependencies, support for php v7.4 and support for laravel v8. As we approach the end of the week, I believe the awaited day most probably would be today. Lets just stay still and wait till he communicates.

[2021-05-29 02:30] munafio commented on #107
@xenonwellz Thanks for reaching out,
As @davymaish said, v1.2 is about to be released and will solve this issue .. stay tuned, I'll keep you updated.

[2021-05-29 05:07] spartyboy opened #108 "Support for laravel broadcast route and Echo usage"
Would there be a support for using the laravel broadcast.php route i feel its more sleek and easier to understand than the manual pusher process.. also support for echo and laravel websocket

[2021-05-29 10:38] xenonwellz commented on #107
@munafio, i want to know I have a package that relies on php-pusher-server v ^5.0, will chatify 1.2 support this ?

[2021-05-29 22:04] munafio commented on #88
@MilanUnjiya4149 SOLVED .. update to v1.2
Check out [CHANGELOG.md](https://github.com/munafio/chatify/blob/master/CHANGELOG.md) for more information about the new release.

[2021-05-29 22:04] #88 closed, assigned to nobody

[2021-05-29 22:04] munafio commented on #107
@davymaish @xenonwellz  SOLVED .. update to v1.2
Check out [CHANGELOG.md](https://github.com/munafio/chatify/blob/master/CHANGELOG.md) for more information about the new release.

[2021-05-29 22:04] #107 closed, assigned to nobody

[2021-05-29 22:06] munafio commented on #108
@spartyboy This will be supported with v2, I'll keep it in mind.

[2021-05-29 22:06] #108 closed, assigned to nobody

[2021-05-30 05:15] sahilxjain commented on #96
Thanks Munafio for the wonderful package, This feature is still missing on v1.2 released yesterday, do you have plans to release this on next major version v2, or is it coming soon in v1.x only ?

[2021-05-30 17:16] xenonwellz opened #109 "Still no support for php-pusher-server v5.x"
The current version of Chatify does not support php-pusher-server v5.x, Yes I know it's old, but I use 1 or 2 packages that requires that version of php-pusher-server , I don't know if this is the right way to talk about it... I just started becoming an active Github user.

Thanks

[2021-05-30 17:25] munafio commented on #109
Chatify v1.2.x supports pusher v7 from both (front/back end)
Make sure you're using the latest version of Chatify.

[2021-05-30 17:25] #109 closed, assigned to nobody

[2021-06-01 14:38] munafio commented on #96
This feature is in beta version with pusher, so the client events won't work because it is not supported yet.
So, maybe with Chatify v2 will be there.

[2021-06-02 05:42] spartyboy commented on #92
Can't there be two options 1 for view and the order for jQuery.. so we just stick to the one we prefer for v2.. pls put that in consideration

[2021-06-02 19:07] KelvinAyoub opened #110 "url link on the message"
Greetings,
Since we can integrate this plugin to laravel ecommerce, and a seller can have multiple products, any plan to include url in the message to show the seller from which product the message came from. Similar to fiverr.

[2021-06-02 19:07] #110 closed, assigned to nobody

[2021-06-02 19:08] KelvinAyoub commented on #110
Not an issue but a question

[2021-06-03 10:46] zamronypj opened #112 "Some code coupled tightly with HTML presentation"
Some part of code in controller tightly coupled with HTML presentation for example `src/Http/Controllers/MessagesController.php` line 265. In this line, It would be much better if this is be made neutral from HTML persentation as it returns JSON.

[2021-06-04 15:05] munafio commented on #112
@zamronypj Thanks for reaching out,
Yes, with v1.x can't be fixed because it will effect the whole code, but with v2 this issue will be fixed using API routes that returns JSON instead.

[2021-06-04 15:05] #112 closed, assigned to nobody

[2021-06-06 05:13] sofhin opened #113 "Trying to get property 'messenger_color' of non-object"
I updated the package to version 1.2.2, but when I load, it shows this error.

Trying to get property 'messenger_color' of non-object

Illuminate\Foundation\Bootstrap\HandleExceptions::handleError
C:\Users\Blessing\Desktop\new\vendor\munafio\chatify\src\Http\Controllers\MessagesController.php:63

LINE 63: 'messengerColor' => Auth::user()->messenger_color,

[2021-06-06 17:02] munafio commented on #113
@sofhin Did you run the migrations? checkout your database users table and see if there is a column called `messenger_color` .. if not, please follow the steps mentioned in the docs and do not forget to run the migrations

[2021-06-06 17:02] #113 closed, assigned to nobody

[2021-06-07 19:38] munafio commented on #110
@KelvinAyoub I'll keep it in mind in the next releases

[2021-06-11 05:06] Dankhara opened #115 "Group chat not working. Can you please announce expected release date."

[2021-06-11 05:45] munafio commented on #115
@Dankhara It will be available with v2, but I can't tell you a specific release date there will be a big changes with v2..

[2021-06-11 05:45] #115 closed, assigned to nobody

[2021-06-13 16:53] basina194 opened #116 "No Styless"
Hi,
I installed Chatify without problems. but when i  run site. it looks like no Styles - Css. when i cheking i see errors
![errror](https://user-images.githubusercontent.com/85841485/121815838-a1586a00-cc78-11eb-9840-50aea3dd2d35.png)
what is the problem ? can You hel me ?

[2021-06-14 00:27] sofhin opened #117 "Sent photos are not shown in the info tab"
![image](https://user-images.githubusercontent.com/67450858/121826454-3c3d5c80-ccea-11eb-84b8-1110414a9139.png)

I try this in the demo app. The sent images are not shown here.

[2021-06-14 07:55] mimsadAlef opened #118 "Group chat"
Hello
When is the group ready?

[2021-06-15 03:00] munafio commented on #116
@basina194 which version you have installed?
This can be fixed by publishing the assets as mentioned in the docs.

[2021-06-15 03:02] munafio commented on #117
@sofhin you have to refresh the chat, so this part is not real-time .. this will be real-time as ti should in the next releases

[2021-06-15 03:03] munafio commented on #118
@mimsadAlef will be available with v2 of this package

[2021-06-15 03:03] #118 closed, assigned to nobody

[2021-06-15 07:40] sofhin commented on #117
I refresh it, but it still the same. I took one example from the live demo app.
![image](https://user-images.githubusercontent.com/67450858/122012798-24e89700-cdf0-11eb-9adc-1c9da056775b.png)
I have refresh it, however, it doesn't appear.

[2021-06-15 11:55] spartyboy opened #119 "Question on V2"
Would version 2 support jquery because not everyone use vue much? and still support bootstrap 4 template? also would it make use of broadcast route?

[2021-06-15 19:13] munafio commented on #119
@spartyboy For now, It will be built with Vue.js, but maybe later will add a jQuery & react.js  as a frontend.
Vue.js is a very popular frontend framework with Laravel and very easy to use and to understand. But don't worry, I'll add other frontend options (React.js, jQuery ...) for other developer .. but you have to wait till the next releases after Chatify v2.

[2021-06-15 19:16] munafio commented on #119
And your question about (broadcast routes), yes. Chatify v2 will have a broadcast & APIs routes and a clean code & structure.
I'll announce about all the new features and related things of the v2 of this package later.
So, stay tuned ❤️

[2021-06-15 20:45] munafio commented on #117
@sofhin I'll check it out and keep you in touch about any updates related to this issue.

[2021-06-17 11:59] basina194 commented on #116
Laravel 6.20.26 i install as in https://chatify.munafio.com/installation#3-install-chatify
i think thats is a Chatify 1.2
 any instruction how repair this ?

[2021-06-17 12:26] munafio commented on #116
@basina194 with Chatify v1.2.x you don't need to publish the assets manually, the artisan command in step 3 will do everything for you.

But, as I can see from your logs that you don't have the assets. What you can do is, go to:
- `public/css/Chatify`.
- `public/js/Chatify`
- `resources/views/vendor/Chatify`
And check if exists.

or you forgot to run `npm install && npm run dev`

[2021-06-17 13:39] Isaac009 opened #120 "Internal Server Error"
![error-er](https://user-images.githubusercontent.com/17350980/122397467-f61b1e00-cfb3-11eb-8aea-8d9953e73240.png)

![code-errors](https://user-images.githubusercontent.com/17350980/122398303-b7d22e80-cfb4-11eb-80fc-f0f398bf3c98.png)

I am having these issues; whenever I select the user from the list that I want to chat with, then these errors appear.
Any help, please. I really appreciate any help

[2021-06-17 18:16] munafio commented on #120
@Isaac009 go to `network` tap in the devtools and check out each request (failed requests) to see what's happening..
provide me the error messages you are getting

[2021-06-18 00:51] sofhin commented on #95
@kaip-e could you please provide the details or the code that you have change?
Thanks in advance

[2021-06-19 01:08] munafio commented on #117
@sofhin FIXED, update Chatify package to the latest version (Now v1.2.3).

[2021-06-19 01:08] #117 closed, assigned to nobody

[2021-06-19 01:08] #116 closed, assigned to nobody

[2021-06-19 08:26] quincykwende opened #122 "Using with Pusher"
Great Job with this awesome package.
Is it possible to have it running without Pusher; Say using Laravel Websocket server

[2021-06-19 10:08] sofhin commented on #120
When I send the image file or the text file, I have this issue as well.
This is for fetching message (image file/attachment).
![image](https://user-images.githubusercontent.com/67450858/122638854-3223bf80-d129-11eb-9b2d-875918212389.png)

This is for sending image/attachment.
![image](https://user-images.githubusercontent.com/67450858/122638886-5ed7d700-d129-11eb-8eda-6f834c3cd832.png)

[2021-06-19 10:25] munafio commented on #122
@quincykwende Thanks for your words,
Currently, No. It does not support Laravel WS or Socket.io or something like that..
but I already have a plan for that, I'll announce about it later.

[2021-06-19 10:26] #122 closed, assigned to nobody

[2021-06-19 10:28] munafio commented on #120
Your issue you are facing is not related to this issue, so please open a new issue describing yours.

[2021-06-20 07:46] sofhin commented on #120
Well, I commented here as it is also the internal error, that's why.

[2021-06-20 09:54] munafio commented on #120
@sofhin @Isaac009 Please, first update the package to the latest version and then republish the assets to get the assets updates too.

Check out the UPGRADE.md guide for more.

[2021-06-20 18:43] basina194 opened #123 "Still no Styles"
Hi,
I installed Chatify without problems. but when i run site. it looks like no Styles
![docs](https://user-images.githubusercontent.com/85841485/122684813-0d524980-d208-11eb-9a9c-579c3d67eebc.JPG)
when i run npm install && npm run dev many problems
![npm](https://user-images.githubusercontent.com/85841485/122684814-0deae000-d208-11eb-92d3-b633d46d2cbe.JPG)
![error1](https://user-images.githubuser

[2021-06-21 03:15] munafio commented on #123
@basina194 I think the issue in npm dependencies of your application not the package itself!

Check Chatify's styles if exists at `/public/css/Chatify`. If not, then try publish the assets as mentioned in the docs.
+Try fixing npm errors then re-run `npm install && npm run dev`.

[2021-06-21 04:20] munafio commented on #120
@sofhin as I can see in your issue, that you may have changes on the assets (views -> messageCard.blade.php). There is no `duration` variable by default! so please follow as I mentioned in the comment above.

[2021-06-21 04:22] munafio commented on #120
@sofhin @Isaac009 Join the [Discord](https://discord.gg/RaxyKVykYJ) server if you need a help installing this package.

[2021-06-21 05:52] basina194 commented on #123
i understand. i knew thats not proplem wrom package. bu i really want to use chatify but i cant.
I had fresh larvel. npm i'nstall as U see sending  not possible to fix errors. i have css in public

[2021-06-22 08:21] alghvzali opened #124 "Chatify only show static page"
i installed chatify v1.0 on my already working laravel v5.8 project (unfresh project). but when i tried to access chatify it's only show static page only, i can't even search user or send message on saved message.

i tried on fresh laravel v5.8 laravel project it's just working fine.

-- on my working project --
![chatify error](https://user-images.githubusercontent.com/22439534/122889893-68518100

[2021-06-24 01:28] munafio commented on #124
@alghvzali Check out if any errors in the console or network tab, and also check the assets (css, js ...) if not exists then try to publish them as mentioned in the documentation.

[2021-06-24 05:14] alghvzali commented on #124
thank you for replying...

i add jquery cdn on headLink.blade.php, it show connected status and contact list when searched.

i follow your suggestion to check the console and network tab then i found this.

-- console tab --
![error1](https://user-images.githubusercontent.com/22439534/123206252-8fcb5980-d4e5-11eb-8864-1a4e31af71d8.PNG)

-- network tab --
![error2](https://user-images.githubusercon

[2021-06-24 05:57] alghvzali commented on #124
it's already worked.. finally find it on web.php that i just paste the chatify web.php to my route/web.php

thanks a lot @munafio

[2021-06-24 05:57] #124 closed, assigned to nobody

[2021-06-25 06:49] yasfandyar opened #125 "Chat box not visible"
![1](https://user-images.githubusercontent.com/76943078/123382495-6ffe6900-d5ab-11eb-992a-d8298dc11569.JPG)
![2](https://user-images.githubusercontent.com/76943078/123382502-712f9600-d5ab-11eb-8912-e2c7d71118dc.JPG)

Dear Munafio,
                      Above both images shots are the picture of the interface which connected already to your server but cant be able to chat with any user even a chat

[2021-06-26 06:58] munafio commented on #125
@yasfandyar Hi,
Can you please check the console and the network tab if any errors there?
+ if you are upgrading from the old version of chatify to the new one, make sure to re-publish the assets to overwrite the assets with the new one.

[2021-06-26 07:05] munafio commented on #123
@basina194 As I understood, you have an issues with the deployment on a live serve.
You have to follow the instructions mentioned in the official docs to get it working perfectly as expected.
I'll close this issue.

[2021-06-26 07:05] #123 closed, assigned to nobody

[2021-06-26 07:44] munafio commented on #120
@Isaac009
If you are running Chatify v1.2.x or higher version,
then I think this issue appearing to you is related to the `migrations` table names and `models` names,
because models' names and migrations' table names has been changed (re-named).. check out the [chnage log](https://github.com/munafio/chatify/blob/master/CHANGELOG.md)

to solve this issue, publish/re-publish the assets (migrations)

[2021-06-26 07:44] #120 closed, assigned to nobody

[2021-06-26 07:47] munafio commented on #125
@yasfandyar
If you are running Chatify v1.2.x or higher version,
then I think this issue appearing to you is related to the `migrations` table names and `models` names,
because models' names and migrations' table names has been changed (re-named).. check out the [chnage log](https://github.com/munafio/chatify/blob/master/CHANGELOG.md)

to solve this issue, publish/re-publish the assets (migrations

[2021-06-26 07:47] #125 closed, assigned to nobody

[2021-06-26 19:38] adityaps13 opened #126 "Responsive design focus on user list"
First of all awesome package. I have a question, when I run this chat on mobile and because of the responsive design it focuses on active conversation message body. While this is good if user I already started conversation however for new user it will just show blank. Instead I want new user focus should be on active user list/search view in mobile responsive design. I tried to look into /vendor/m

[2021-06-27 08:40] munafio commented on #126
@adityaps13 Hi, Thanks for reaching out.
I have already talked about this in the official [discourd](https://discord.gg/RaxyKVykYJ) server of Chatify, I will release a new version soon that includes improvements and fixes (including yours).

Join us and keep updated ❤️
Regards.

[2021-06-27 08:40] #126 closed, assigned to nobody

[2021-06-29 03:08] sglavach opened #127 "Routes files"
It looks like you are adding the chatify routes to the web.php routes file... I also use a tenant routes file in a multi-tenancy application.  How can I get your chatify routes ALSO added and working with a tenant.php routes file?

Thanks!

[2021-06-29 10:33] munafio commented on #127
@sglavach you have a `chatify.php` config file so you have full control on routes configurations .. and also read about tenancy with laravel and its routes configurations and `Conflicting routes`
 https://tenancyforlaravel.com/docs/v2/tenant-routes/

[2021-06-29 10:33] #127 closed, assigned to nobody

[2021-07-02 06:44] yasfandyar commented on #125
![Screenshot (8)](https://user-images.githubusercontent.com/76943078/124232113-ae0b0800-db2a-11eb-8b94-fb5ab88c1cb1.png)
Thank you @munafio angin the issue remain same dont know. I use both commands, but still there. please help

[2021-07-02 08:57] munafio commented on #125
Run the following commands:
[code]

As I said above, this will solve your issue because of the updates.
If not, then please provide me error logs (console / network tab)

[2021-07-05 04:45] yasfandyar commented on #125
![Screenshot (9)](https://user-images.githubusercontent.com/76943078/124418715-8d82be00-dd75-11eb-9a8d-8564f7ad43f6.png)
![Screenshot (10)](https://user-images.githubusercontent.com/76943078/124418723-8f4c8180-dd75-11eb-8957-e22f21a28357.png)
@munafio I have again apply both commands but the issue remain same

[2021-07-05 04:50] yasfandyar commented on #125
and here I share my consol tab , but I cant found any error
![Screenshot (11)](https://user-images.githubusercontent.com/76943078/124419004-21548a00-dd76-11eb-998e-1f93fccea2fc.png)
![Screenshot (12)](https://user-images.githubusercontent.com/76943078/124419005-2285b700-dd76-11eb-810e-ab8454010e94.png)
![Screenshot (13)](https://user-images.githubusercontent.com/76943078/124419009-231e4d80-dd76-11

[2021-07-05 11:25] munafio commented on #125
@yasfandyar can you please check out in the browser (console and network tab) from the dev tools to see what's going on there.

[2021-07-06 10:58] sam-94 opened #128 "Chat thread based on user"
How to open selected user chat thread directly instead of a white screen. Please reply asap.
Please check: https://prnt.sc/18zvisj

[2021-07-06 12:41] munafio commented on #128
@sam-94 Chatify not depends on a url id (url parameters) to fetch a specific user,
but you can do it yourself by modifying the `public/js/Chatify/code.js`, when there is a url param (id) do the fetch messages method.

e.g.  on `document` ready:
[code]

[2021-07-06 12:41] #128 closed, assigned to nobody

[2021-07-06 14:12] sam-94 commented on #128
I just pass the user id in my redirect URL and this working perfectly... Thank you @munafio

[2021-07-07 05:46] yasfandyar commented on #125
![Screenshot (14)](https://user-images.githubusercontent.com/76943078/124706275-6ca2a000-df10-11eb-8812-2ad5c3a31a86.png)
@munafio here some errors are showing in consol tab

[2021-07-07 09:07] blackvikings opened #129 "How to allowed pdf, doc, docx , mp3 and video files?"
I am trying add some more extensions  like pdf doc docx mp3 mp4.  but not working

[2021-07-07 12:20] munafio commented on #129
@blackvikings modify the allowed extensions at `config/chatify.php` + the js code at `public/js/chatify/code.js` update the `attachmentValidate` method.

[2021-07-07 12:20] #129 closed, assigned to nobody

[2021-07-07 12:23] munafio commented on #125
@yasfandyar yes, please provide me the errors at the network tab, and click on one of the errors to show whats going on.

[2021-07-08 04:41] yasfandyar commented on #125
![Screenshot (16)](https://user-images.githubusercontent.com/76943078/124863466-8a373e80-dfd0-11eb-9a5d-c55f0159714a.png)
Dear @munafio I think the network tab errors are same as it in Consol tab , please check if any changing required .

[2021-07-08 09:39] munafio commented on #125
Not the same! In console, we can see only the error happend not the details or the exceptions from the server.

[2021-07-08 09:43] yasfandyar commented on #125
@munafio now what should i do for handle these errors with exception , please solution.

[2021-07-08 09:44] munafio commented on #125
Please provide us the errors at the network tab, click on them to see what's going on and let us see to help you

[2021-07-08 10:29] yasfandyar commented on #125
The above pasted content is just copied from network tab erorr and exception content .. if any other thing required in this regard please let me know. i would be thank full to you , It took too much time already , please help to get me out of this .

[2021-07-08 11:20] munafio commented on #125
First, The comment has been removed because it is not a allowed to paste a console logs (+100 line) right here !!!

Second, Please search for (network tab in devtools chrome) google it and you will understand what I'm saying.
Then, show me whats there to see what's happening.

[2021-07-08 11:58] yasfandyar commented on #125
![Screenshot (17)](https://user-images.githubusercontent.com/76943078/124917545-66deb480-e00d-11eb-89bd-2833518e9776.png)
Here look please in the network tab , is that you want?

[2021-07-08 12:13] yasfandyar commented on #125
![Screenshot (18)](https://user-images.githubusercontent.com/76943078/124919502-c76ef100-e00f-11eb-9477-e2603ed6966b.png)
![Screenshot (19)](https://user-images.githubusercontent.com/76943078/124919510-c8a01e00-e00f-11eb-9e86-75ed161eb32a.png)

[2021-07-08 12:14] yasfandyar commented on #125
![Screenshot (20)](https://user-images.githubusercontent.com/76943078/124919700-f9805300-e00f-11eb-93cb-535a9f993d76.png)

[2021-07-08 13:15] munafio commented on #125
as you can see here, the error says that there is no table called `ch_messages` ....
did you run the commands below?
[code]

run the commands and check it again.

[2021-07-09 06:29] yasfandyar commented on #125
@munafio I already run this command but noting to migarte new in database .

[2021-07-09 06:45] yasfandyar commented on #125
![Screenshot (21)](https://user-images.githubusercontent.com/76943078/125035345-203f9780-e0ab-11eb-97d2-db9a5d25b379.png)

[2021-07-09 07:55] munafio commented on #125
Reinstall it, you have a database error says(base table or view not found: ch_messages....) and this should be resolved by running the above commands.

[2021-07-09 10:46] yasfandyar commented on #125
Sure let me reinstall it

[2021-07-10 09:41] nikultaka commented on #119
How to add contacts in this system ?

[2021-07-10 09:47] nikultaka commented on #119
I found 2 issues in this system, when we writing to particular person, it doesn't show writing indicator to the other user

[2021-07-10 16:58] munafio commented on #119
Please don't comment with unrelated issues here, if you have an issue then open a new issue with yours.

[2021-07-21 08:20] sam-94 opened #130 "How to add new file extensions?"
Hi @munafio sir, can you please tell me how to add new file extensions while sending attachments in chat? I have already added in
"sendForm" file. But it's not working... check: https://prnt.sc/1duusq5
Can you please tell me where you define the function in screenshot: https://prnt.sc/1duvlzd

[2021-07-21 08:34] labomatik commented on #130
``` https://github.com/munafio/chatify/blob/master/src/config/chatify.php ```
end of the file

[code]

[2021-07-21 09:38] sam-94 commented on #130
I have added the required extension but still not working... check here: https://prnt.sc/1dvoucx

[2021-07-21 12:17] #130 closed, assigned to nobody

[2021-07-21 15:48] munafio commented on #130
@sam-94 as @labomatik said but also you have to update the `code.js` a validation method there

[2021-07-26 05:55] boyamahero opened #132 "White window first sent message to black window but black window didn't receive any message from white window unless black refresh window."
<img width="1436" alt="Screen Shot 2564-07-25 at 20 00 24" src="https://user-images.githubusercontent.com/10239226/126939721-9fa18332-bcd2-49bc-9fe9-db2a1f518736.png">

[2021-07-28 07:39] munafio commented on #132
@boyamahero could you please describe the issue you are facing? and provide me if any errors on console/network tab!

[2021-07-28 08:31] klexcos opened #133 "Attempt to read property "messenger_color" on null"
ErrorException
Attempt to read property "messenger_color" on null
.\app\Http\Controllers\vendor\Chatify\MessagesController.php:63
Line 63: 'messengerColor' => Auth::user()->messenger_color,

I've also checked the users table and there is a column called "messenger_color" with value

[2021-07-28 18:22] boyamahero commented on #132
There are no errors in network tab and  in console received event from the white screen but in the contact list of the black screen is still empty.
<img width="1435" alt="Screen Shot 2564-07-29 at 01 15 09" src="https://user-images.githubusercontent.com/10239226/127375545-259470be-566d-4a74-ad83-98a455726432.png">

[2021-07-30 20:30] munafio commented on #132
@boyamahero its Pusher's credentials issue, if the subscription failed. check out if the channel successfully subscribed from the logs in the console log tab or not

[2021-07-30 20:32] munafio commented on #133
@klexcos is the an auth system? users table? did you migrate the migrations of Chatify?

[2021-08-01 14:06] klexcos commented on #133
yes, I've migrated it. then I encountered another problem which is like it doubles App\Http\Controllers\vendor\Chatify\App\Http\Controllers\vendor\Chatify\MessagesController.
but I just reinstalled it and its now working fine. Thanks a lot. Cheers !

[2021-08-01 14:06] #133 closed, assigned to nobody

[2021-08-05 12:16] yasfandyar commented on #125
Hi Munafio ,
Im Sorry I was busy on some where, thats why not responded at time...
Now I reinstall Chatify at my projct now its give just five different types of errors in consol tab
![Screenshot (23)](https://user-images.githubusercontent.com/76943078/128348205-7c82b569-e621-4751-982d-1e1bd9f363ca.png)
![Screenshot (24)](https://user-images.githubusercontent.com/76943078/128348240-aa0bc87a-a401-4

[2021-08-05 12:21] yasfandyar opened #134 "Chat Box Not Working"
Hi Munafio ,
Im Sorry I was busy on some where, thats why not responded at time...
Now I reinstall Chatify at my projct now its
![Screenshot (23)](https://user-images.githubusercontent.com/76943078/128348903-bdaa94c5-9b19-4a51-a4c0-159d0f3577a2.png)
![Screenshot (24)](https://user-images.githubusercontent.com/76943078/128348910-7c474795-7a89-4d19-afee-29d80fa060bb.png)
 give just five different ty

[2021-08-06 07:31] munafio commented on #125
@yasfandyar try re-publishing the migrations and models if needed:

[code]

If you were using old version, delete all related assets (migrations, assets,views...) then try to re-install it as in the official docs.

[2021-08-06 07:32] munafio commented on #134
@yasfandyar duplicated #125

[2021-08-06 07:32] #134 closed, assigned to nobody

[2021-08-10 12:54] SequelONE opened #135 "Push notifications and reply in messages"
I didn't find these elements in the documentation and demo. Will the next versions add push notifications and responses with a quote to a message on the second mouse click with a drop-down list, as in the Telegram messenger?

![Screenshot (26)](https://user-images.githubusercontent.com/14241611/128870365-52ff57d1-0d97-468a-91fa-0132499f1473.png)

[2021-08-11 05:44] KGSanchez opened #136 "Missing letters"
I encountered myself with this issue, I don't really know how to fix it no matter what I do. Pusher console does not give any errors nor browser console.

Any ideas to solve this issue?

![image](https://user-images.githubusercontent.com/36089975/128975646-7083f93c-0b83-4ee5-8b2f-9a75ce920dc2.png)

This is how it looks in the database
![image](https://user-images.githubusercontent.com/36089975/128

[2021-08-11 08:18] #132 closed, assigned to nobody

[2021-08-11 08:33] munafio commented on #135
Hi @SequelONE ,
Yes, the next Chatify releases will includes a new features as you have mentioned.

If you have a question or an idea about new features, help, or anything related to Chatify .. Join our Discord server and keep updated : https://discord.gg/Tfhp88NCqH

[2021-08-11 08:33] #135 closed, assigned to nobody

[2021-08-11 08:36] munafio commented on #136
@KGSanchez
Can you inspect the message element to see the text received? is it as showing or not?

[2021-08-11 12:37] KGSanchez commented on #136
Well, I tried it today again. And the issue didn't even show up. I'll close this issue, if anything happens in future, I'll let you know!

[2021-08-11 12:37] #136 closed, assigned to nobody

[2021-08-15 07:16] thenibirahmed opened #137 "Is there any link where we may click and go to the direct inbox"
Hello munafio,
I really loved your project but I was wondering is there any system or link in which we may click and it will take me to the very particular inbox?

[2021-08-15 14:57] vigstudio opened #138 "popup chat like facebook ?"
This project is so awesome. But don't know if you intend to develop more popup chat like facebook? That looks great

[2021-08-17 14:07] munafio commented on #137
@nibirahmed9611 Thank you ❤️
I have talked about this issue before here #128, so I'm going to close this issue because it is duplicated.

[2021-08-17 14:07] #137 closed, assigned to nobody

[2021-08-17 14:10] munafio commented on #138
@vigstudio Chatify does not have this feature yet, but you can include Chatify messenger inside an `iframe` tag with some stylings to meet your needs.

[2021-08-17 14:10] #138 closed, assigned to nobody

[2021-08-17 14:19] b1nslashsh opened #139 "Security issue on chatify"
I have disclosed a  stored XSS on chatify thru hundr.dev

https://www.huntr.dev/bounties/1625422364838-munafio/chatify you can visit here

thank you,
muhaimin

[2021-08-18 06:33] munafio commented on #139
@b1nslashsh Hi Abdul Muhaimin,
I have checked out your report at huntr.dev , and I would like to confirm that the upload functionality is vulnerable as in your report!
According to that, I'm going to release a new version with security patches ASAP. If you would like or have a proper solution for this bug, do not hesitate to create a PR.

Thanks for your report and your contribution to make this p

[2021-08-18 06:35] munafio commented on #139
I will keep this issue opened, until fixing it and release the new version.
 I'll keep you up-to-date.

[2021-08-18 07:12] b1nslashsh commented on #139
@munafio glad to hear that , if you think that was a valid one please Mark it has vaild on huntr , so huntr community will also try to give you nice fixes and you can chose one 🙂

Thanks

[2021-08-18 10:40] munafio commented on #139
@munafio A new version has been released v1.2.5, solving this security issue.
Check out the [CHANGELOG.md](https://github.com/munafio/chatify/blob/master/CHANGELOG.md)

[2021-08-18 10:40] #139 closed, assigned to nobody

[2021-08-26 20:10] jgwisdala opened #140 "Missing contacts/ users"
First off, thank you for your wonderful contribution on the Laravel / Chat front.  I receive a 'Your contact list is empty'.  4 users in the system and they are able to login.  NPM ran fine.  No errors within browser (console or network). Pusher connecting properly.  Can send messages to myself.  ch_messages table is storing information correctly for both logged in users (msg sent to themselves).

[2021-08-29 14:50] munafio commented on #140
@jgwisdala In the network tab, click on (getContacts) request and check its response if it returns them or not.

[2021-09-01 15:39] rafienleo commented on #128
@sam-94 Can you share the code that worked for you to implement this please.

[2021-09-03 06:56] ariffmma opened #141 "No internet access"

[2021-09-05 13:09] sam-94 commented on #128
@rafienleo   just pass the user id  in chatify url like this:
`<a href="{{url('chatify', $user->id)}}" class="edit-profile">Message</a>`

[2021-09-05 13:40] rafienleo commented on #128
@sam-94 Thanks very much. It worked.

[2021-09-05 23:56] raphyabak opened #142 "Target class [App\Http\Controllers\vendor\Chatify\MessagesController] does not exist after controller tag publish in Laravel 8"

[2021-09-06 03:09] hesammoosapour commented on #142
I have the same issue on my server even though my local doesn't have this one.

[2021-09-06 09:50] raphyabak commented on #142
I don't know why I'm getting this error, all asset has been published including the controller -tag asset

[2021-09-06 10:14] munafio commented on #142
@hesammoosapour @raphyabak Hi, As mentioned in the docs, if you have published the controllers then you have to change routes' `namespace` at `config/chatify.php` in your application to `App\Http\Controllers\vendor\Chatify`.

[Check out this](https://chatify.munafio.com/customizations#controllers)

[2021-09-06 11:09] raphyabak commented on #142
Done that already, still not working

[2021-09-06 11:14] hesammoosapour commented on #142
@munafio once I edited `CHATIFY_ROUTES_NAMESPACE` with small letter v for vendor in  `App\Http\Controllers\vendor\Chatify` , it works like charm .

Thank you , regards.

[2021-09-06 11:14] #142 closed, assigned to nobody

[2021-09-06 11:16] munafio commented on #142
Do it as @hesammoosapour did

[2021-09-06 11:20] raphyabak commented on #142
![chatify php - lekelee - Visual Studio Code 9_6_2021 12_18_12 PM](https://user-images.githubusercontent.com/58911706/132209569-36b0bbca-09c1-4bd0-b724-8a07eae94ef3.png)
![🧨 Target class  App_Http_Controllers_vendor_Chatify_MessagesController  does not exist  and 3 more pages - Profile 1 - Microsoft​ Edge 9_6_2021 12_18_27 PM](https://user-images.githubusercontent.com/58911706/132209693-8441779c-b

[2021-09-06 11:23] hesammoosapour commented on #142
@raphyabak check your _RouteServiceProvider.php_ file , and check if your controller namespace of application is like
`     protected $namespace = 'App\Http\Controllers';
`

[2021-09-06 11:26] munafio commented on #142
If you already have the variable inside your .env file, then modify it there. Otherwise directly in the config file as you did and it should work.

[2021-09-06 11:32] raphyabak commented on #142
Don't know why It's not still working.

[2021-09-06 11:36] munafio commented on #142
@raphyabak did you changed the namespace of the MessagesController.php ? It should be same as you've set in `config/chatify.php`

[2021-09-06 11:37] hesammoosapour commented on #142
@raphyabak After your modifications Run these 3 commands :
`php artisan view:clear`  , `  php artisan config:clear `  ,  `php artisan route:clear` .

[2021-09-06 11:38] munafio commented on #142
@raphyabak Please, follow the official docs. I have mentioned everything you need to know there.
[Chatify](https://chatify.munafio.com)

[2021-09-06 12:04] raphyabak commented on #142
This works, thanks

[2021-09-07 16:16] hesammoosapour opened #143 "Update profile settings"
In update your profile settings :
![image](https://user-images.githubusercontent.com/18083007/132376897-191667c8-54dc-4ae5-a1e9-33d5f84f0913.png)

Buttons for changing colors are not visible , and when I press update it shows
![image](https://user-images.githubusercontent.com/18083007/132377934-4b227e34-c669-447c-ad91-5543f9a85879.png)

Also I can't switch from light to dark theme and reverse .
Wh

[2021-09-10 16:33] munafio commented on #143
@hesammoosapour can you check your users database whether there is color and darck mode columns or not?

[2021-09-11 14:43] hesammoosapour commented on #143
@munafio
![image](https://user-images.githubusercontent.com/18083007/132951577-8ef2d7dd-b3e4-481e-add2-ccd75037dbce.png)
They do exist.

[2021-09-11 17:04] munafio commented on #143
@hesammoosapour It seems you may have a changes that breaks the settings color and dark mode, the response is OK means no errors there but something is missing!

[2021-09-13 00:42] jgwisdala commented on #140
@munafio - Apologies on delay in response.  I've been out of town.  getContacts is working correctly.  The issue appears to be with search.  Laravel route list shows 'search' and no conflicts.  Any search using chatify results with Internal Error 500.

![image](https://user-images.githubusercontent.com/46096240/133008547-2a8c4594-0bd4-474d-9ded-53e322ca8131.png)

![image](https://user-images.githu

[2021-09-13 03:16] jgwisdala commented on #140
Located issue after turning debug back on.  Turns out my user table had columns (first and last) instead of name.  Made a few changes to the layout and controller... all is good now.  Thank you!

[2021-09-13 04:26] #140 closed, assigned to nobody

[2021-09-16 18:03] hesammoosapour commented on #143
This is what I get from _css_ and _js_ folders in _public_ folder from newer version :
![image](https://user-images.githubusercontent.com/18083007/133661891-618b125a-d1b8-4881-a2a0-93fdf38a16a3.png)
And this is what I get from _css_ and _js_ folders from older version :
![image](https://user-images.githubusercontent.com/18083007/133662022-100ceaea-5db9-4a23-bedd-4f1cdf41e4cf.png)

Apparently I sho

[2021-09-17 11:30] #141 closed, assigned to nobody

[2021-09-17 11:43] munafio commented on #143
@hesammoosapour If you made local changes that effects the UI and updated the package, then you have to republish the `views` assets.

[2021-09-20 09:28] hesammoosapour commented on #143
@munafio Yes I did rename my old folder `resources\views\vendor\Chatify` and then I ran the command `php artisan vendor:publish --tag=chatify-views` then I applied my changes to new one & it is working alright , Thank you .

[2021-09-20 10:04] #143 closed, assigned to nobody

[2021-09-23 13:09] 24Degrees opened #144 "Page at endpoint /chatify need to be refreshed before showing history"
Hi Munafio,

while testing I discovered that I always need to refresh the page whenever I visit the 127.0.0.1/chatify url. It shows no history at first but when I do a reload, then it's ok.

However, if I change the link (not the route) to http://127.0.0.1:8000/chatify# with an hashtag, it all seems to be working fine.

Thanks for the nice work.

kind regards,

Michael

[2021-09-24 05:53] munafio commented on #144
@24Degrees Hi,
What do you mean by shows no history? can you provide me more details?

Thank you.

[2021-09-26 11:33] 24Degrees commented on #144
Hi Munafio,

The GIF below shows what's happening. Of course it can always be some mistake we made, but this is the result:

![2021-09-26 13 30 42](https://user-images.githubusercontent.com/17310214/134805893-a9eab882-63e0-40e4-a8e2-a6844190eeef.gif)

[2021-09-26 11:35] munafio commented on #144
@24Degrees I think this issue is related to your browser! can you check it on other browsers as well?

[2021-09-26 11:41] 24Degrees commented on #144
This is the Chrome version. Same problem. I already checked Firefox too but it still might be a problem of Mac osX or redirecting or so...

![2021-09-26 13 39 02](https://user-images.githubusercontent.com/17310214/134806120-404d1a74-0ef3-4551-a6e1-2ffce541a2e1.gif)

[2021-09-26 11:43] 24Degrees commented on #144
Test repo is here: https://github.com/24Degrees/Chatify-from-Vemto

[2021-09-26 12:40] munafio commented on #144
@24Degrees I have installed your demo app and worked on it on my local development server, and I came up with the reason behind this issue, because you are using Livewire navigation which is navigate between the routes using Ajax request!

Chatify is not designed with Livewire and won't work with it, it is separated and uses only jQuery. When you navigate to `/chatify` with Livewire its uses Ajax

[2021-09-26 12:40] #144 closed, assigned to nobody

[2021-10-05 07:21] VSinghhh commented on #119
Is there any time indication of when V2 is being released :) ? We are super super excited!

[2021-10-05 07:26] munafio commented on #119
I want it to be better than the current version from all sides, and this will take some time to introduce you the new Chatify.
I'll notify you with the updates on the official Chatify's discord server:

https://discord.gg/Tfhp88NCqH

[2021-10-05 09:24] rahihosen opened #145 "image not showing"
![Screenshot (9)](https://user-images.githubusercontent.com/78076350/135996492-fa2d6587-2ec8-4735-bd20-e76b9896d3b1.png)
in my app image and file saved in the folder but not show in chat.

[2021-10-05 19:03] munafio commented on #145
@rahihosen Hi,
make sure that the `storage` has a symlink in `public` folder. if not, the run the following command:
[code]

if the issue still there, please check out the console and inspect the images elements to make sure of the paths, and then provide me with the details.

[2021-10-06 05:02] rahihosen commented on #145
yes, it's worked now. my link not properly created. Thanks for your quick response.

[2021-10-06 08:31] #145 closed, assigned to nobody

[2021-10-11 08:08] talhahussaindev commented on #119
Illuminate\Contracts\Container\BindingResolutionException
Target class [MessagesController] does not exist.

[2021-10-12 12:53] designagencygroup opened #146 "Pusher Error - JSON returned from auth endpoint was invalid, yet status code was 200"
![Untitled](https://user-images.githubusercontent.com/49807537/136959791-f50f570f-f839-4839-8000-e0b2f1cd9eab.png)
![error2 pusher](https://user-images.githubusercontent.com/49807537/136959936-bcd8c2f7-895b-4e4d-8fdc-1a44f482cc30.png)

[2021-10-12 13:00] munafio commented on #146
@DesignAgencyAdvertising Hi,
Can you please check your applications's `<head>`, a meta-tag called `csrf-token`? can you share it with us ?

[2021-10-12 13:03] designagencygroup commented on #146
![kkl](https://user-images.githubusercontent.com/49807537/136961302-c410b155-5fec-4482-b147-b2f03d633c12.png)
here my head

[2021-10-12 13:11] munafio commented on #146
@DesignAgencyAdvertising The issue as it shows, related to the authentication! can you check the network tab which is next to the console tab in the browser, then select the auth request with the error

[2021-10-12 13:15] designagencygroup commented on #146
auth seems ok 200
![auth](https://user-images.githubusercontent.com/49807537/136963054-b4f50b0b-eec0-426d-9d07-f6f2553ca944.png)

[2021-10-12 13:16] munafio commented on #146
@DesignAgencyAdvertising what about it's response ?

[2021-10-12 13:23] designagencygroup commented on #146
here the response
![auth](https://user-images.githubusercontent.com/49807537/136964480-d41645a6-08f1-45c3-9dfb-1a8eac28565c.png)

[2021-10-12 13:28] munafio commented on #146
@DesignAgencyAdvertising Oh!!, sorry I did not notice the Debugger your are using😆. The DebugBar is the reason behind this issue as I can see!
You can solve this issue by following the link below which is a comment on an old issue relevant to yours:
https://github.com/munafio/chatify/issues/17#issuecomment-673906685

[2021-10-12 13:35] designagencygroup commented on #146
ok now play well only the typing not working

[2021-10-12 13:43] munafio commented on #146
@DesignAgencyAdvertising The `typing...` indicator uses Pusher's `client-events` so make sure you are enabled this option by going to `Pusher's dashboard > Your App > App Settings` then enable it. Also make sure of your credentials your are set.

Lastly, check out the console logs, you should see pusher connection succeeded.

Then every thing should work as expected.

[2021-10-12 13:47] designagencygroup commented on #146
great app  thanks a lot

[2021-10-12 13:49] #146 closed, assigned to nobody

[2021-10-13 10:04] volserverRay commented on #26
hi @munafio is this supported now? I'm using v1.2.5, still can't figure out how to use laravel-websocket for now.

[2021-10-13 13:48] munafio commented on #26
The new Chatify will support both pusher and Laravel websockets, at the same time, you can now implement it yourself to work with Laravel WebSockets.

[2021-10-14 14:06] munafio commented on #119
Please, don't comment in unrelated issues, you can open an issue if you have one!
and about your issue, check out #142

[2021-10-14 14:08] munafio commented on #119
I'm going to close this issue, and all questions and answers about the new Chatify and it's updates, news ...etc can be found at the official Discord server above.

[2021-10-14 14:08] #119 closed, assigned to nobody

[2021-10-14 18:25] imo-hub opened #147 "Error : Failed sending the message! Please, check your server response; Send message status 500"
Hi Munafio, thanks for create the great apps
But i get a little problem here,

the message can not send automatically and i need to click client profile to send or update the message
![image](https://user-images.githubusercontent.com/66655362/137366873-6800ea1d-2b09-4973-ad88-e878984fdae9.png)
![image](https://user-images.githubusercontent.com/66655362/137365678-85818db3-09a8-4bf9-b76f-f4826a7662e

[2021-10-14 20:01] munafio commented on #147
@imo-hub You did everything as mentioned in the docs very well, but you have an issue by sending a message! Can you please check out the error occurring by click on the error in the network tab and share it here?

[2021-10-15 00:40] imo-hub commented on #147
This is my network tab
![image](https://user-images.githubusercontent.com/66655362/137414142-5eb9d98c-79eb-40f1-864c-05a971e745ea.png)

This is detail error from jquery.js
![image](https://user-images.githubusercontent.com/66655362/137414251-269898e3-8a27-4c52-8ef8-af2873490dd2.png)

Thanks

[2021-10-15 01:29] imo-hub commented on #147
Here is the gif

https://user-images.githubusercontent.com/66655362/137417768-db35699d-5214-43d4-9a4a-8212bd540365.mp4

[2021-10-15 18:29] munafio commented on #147
@imo-hub Click on the `sendMessage` error, not the js code (jQuery code).. I want to see the response coming from the this request

[2021-10-16 03:18] imo-hub commented on #147
@munafio here is the preview tab
![image](https://user-images.githubusercontent.com/66655362/137571582-5794c82d-598a-49d4-bb91-426a2fd0d322.png)
![image](https://user-images.githubusercontent.com/66655362/137571590-a4d95011-2c27-4ab7-8917-fb614f4d1423.png)

- response tab
![image](https://user-images.githubusercontent.com/66655362/137571609-f02f7985-b355-48b0-ba89-4d2c4bbab3d3.png)
![image](https:

[2021-10-16 19:21] OmarMonterrey opened #148 ""Unable to locate publishable resources" On install"
Hello, Im getting that "Unable to locate publishable resources" Whenever I try to install using chatify:install. Also I noticed that even with the provider properly registered it's not listed when I use "php artisan vendor:publish"
![providers](https://user-images.githubusercontent.com/7505415/137599722-70eb5e10-1af8-4f09-99cb-65bd07fb5475.png)
![ChatifyError](https://user-images.githubusercontent

[2021-10-18 02:19] munafio commented on #147
@imo-hub The problem here is with GuzzleHttp client not Chatify! as the error says there is an issue with your ssl certificate, I have searched about this issue and it seems it is a common issue and there is lots of solutions you can check.

[2021-10-18 02:24] #147 closed, assigned to nobody

[2021-10-18 02:33] munafio commented on #148
@OmarMonterrey Hi,
You either have to register Chatify service provider into `app.js` and you can follow the official docs:
chatify.munafio.com > Installation > Step 5

Or try running the following command:
[code]
or with `tag`, to publish a specific asset
[code]

[2021-10-18 18:45] OmarMonterrey commented on #148
Hello @munafio , thanks for your answer. I tried with those commands (Provider was registered) but it didn't worked because the publishable elements wasn't there. I figured out that the command "PHP" wasnt working as "CLI" but as "cgi-fcgi", that's because I tried to install it directly on the shared hosting of my customer.
Because of that, this conditional was never meet so the resources weren't

[2021-10-18 18:45] #148 closed, assigned to nobody

[2021-10-20 13:09] Adam-Oudaimah commented on #92
Please could you provide me the Postman doc?

[2021-10-20 13:16] robertowzzz commented on #92
Could you also provide me the postman doc? Please :( Thank you!

[2021-10-26 14:03] afrasiyabhaider commented on #92
Sent on your request

[2021-10-26 14:05] afrasiyabhaider commented on #92
https://documenter.getpostman.com/view/8822545/UV5ZAw6F

[2021-11-04 19:30] reasecret opened #149 "Documentation Page Not Working"
Documentation page (https://chatify.munafio.com) not working...

[2021-11-05 09:47] munafio commented on #149
@reasecret Hi, the issue was with main domain and now been solved .. you can access the official documentation at: chatify.munafio.com

[2021-11-05 09:47] #149 closed, assigned to nobody

[2021-11-20 04:12] d-minh commented on #145
I also have the same problem
there is already a symlink in the directory but the image doesn't show
can you make a video on your youtube channel to show how to fix this error
![image](https://user-images.githubusercontent.com/76049792/142713941-d878ad8a-e135-4967-8272-55759436c05f.png)
![image](https://user-images.githubusercontent.com/76049792/142714007-cf3124ec-80dc-40e3-a29a-f563bbe7a170.png)

[2021-11-20 04:46] d-minh commented on #145
can you tell me how you install the link

[2021-11-20 10:33] d-minh commented on #145
I got help from munafio  very dedicated you can fix this in the following way:
- Open your public folder from explorer not open on (VS CODE)
- Next, you open the storage folder, if it says an error,
![image](https://user-images.githubusercontent.com/76049792/142723151-55439d26-4481-419a-9508-ff1d6a08ed07.png)
- Delete it and run the command from the root directory of Laravel
`php artisan storage:l

[2021-11-23 12:01] ateequrrahman97 opened #150 "How can we use predefined messages to send quickly on one click?"
Hello @munafio
I hope you are doing well.
Is there any feature you provide related to predefined messages like most asked questions like linked in or Facebook page inbox?
I want to add some questions/answers to the chat box.
Please guide me.
Thanks!

[2021-11-23 13:34] munafio commented on #150
Hi,
Chatify doesn't provide such a feature but you can implement this yourself.. making a card above the input box containing your predefined messages, on click append to the input box.

[2021-11-24 02:42] fiqqirahman opened #151 "User Not Showing"
hello @munafio ,
i want to ask, i am using laravel version 8 and php 7.4 . and I'm using CRUDBoster as admin panel. when I install chatify in my project there is no problem.. but when http://127.0.0.1:8000/chatify user does not appear. because when I see the database there are 2 user tables :1. cms_users for CRUDBoster
2. Users for Chatify
what's the solution?
Thank you in advance
<img width="1680

[2021-11-24 11:05] munafio commented on #151
@fiqqirahman hi,
Please can you check the console tab to see if any errors there? If so, the go to the network and check the requests too then show us

[2021-11-24 11:15] fiqqirahman commented on #151
hi @munafio, here is the console error
<img width="1676" alt="Screen Shot 2021-11-24 at 18 12 09" src="https://user-images.githubusercontent.com/84697641/143228418-e3a13db2-aeca-45eb-a7af-ef1b27a7086a.png">

[2021-11-24 11:37] munafio commented on #151
Go to the network tab, then refresh. Show us if any errors occurred

[2021-11-25 01:20] fiqqirahman commented on #151
@munafio here is the network errors

<img width="1680" alt="Screen Shot 2021-11-25 at 08 20 16" src="https://user-images.githubusercontent.com/84697641/143335872-68b745d9-7aac-4b7b-b414-9c1c28520fa4.png">

[2021-11-25 01:24] munafio commented on #151
Please, click on the error to see what's going on!

[2021-11-25 01:27] fiqqirahman commented on #151
@munafio this is an error

<img width="843" alt="Screen Shot 2021-11-25 at 08 25 08" src="https://user-images.githubusercontent.com/84697641/143341140-1064cfe3-5f72-42a3-abe2-647b866ede1f.png">
<img width="844" alt="Screen Shot 2021-11-25 at 08 26 17" src="https://user-images.githubusercontent.com/84697641/143341458-6b4e7406-ffdf-492d-81e5-4b84faecfa38.png">

[2021-11-25 01:29] munafio commented on #151
@fiqqirahman You have to be authenticated to use Chatify, and as mentioned in the docs you have to install an auth system first!

[2021-11-25 01:50] fiqqirahman commented on #151
@munafio
tell me, how to install auth system in chatify ?

[2021-11-25 01:51] munafio commented on #151
Laravel's auth system!

[2021-11-25 01:51] #151 closed, assigned to nobody

[2021-11-25 01:56] fiqqirahman commented on #151
oh sorry, but thanks for answering me, have a nice day @munafio

[2021-11-26 19:34] #150 closed, assigned to nobody

[2021-11-27 15:27] Rodion15 opened #152 "Not installed (PHP 8.0)"
[code]

[2021-11-29 17:28] harisalibarkat commented on #96
You can use Laravel Encryption. I was able to achieve it with these two smaller changes in MessageController::send() and MessageCard View

![image](https://user-images.githubusercontent.com/33316800/143914762-a951ffe0-7e02-4f19-865c-46279b8a1862.png)
![image](https://user-images.githubusercontent.com/33316800/143914853-cfeb1830-8b5b-45a3-ad76-c0ed732346ab.png)

[2021-11-29 20:59] munafio commented on #152
@Rodion15 There is a conflict in your psr/log version .. you could run :
[code]
*Use the option --with-all-dependencies (-W) to allow upgrades, downgrades and removals for packages currently locked to specific versions.

[2021-12-02 08:47] mrrhx commented on #152
I had the same issue but conflict with different package and have run composer require munafio/chatify -W but still get the same error as below. My project is running on PHP 7.4.19 btw

[code]

[2021-12-03 08:52] REALBLOND opened #153 "Chatify Uncaught ReferenceError: require is not defined"
Hey! Please help me with this problem. The chatify package has been successfully installed. Laravel 8.54, php 7.4, npm 8.1.0, node 17.1.0. But there is such a problem (screenshot). All attempts
the fixes didn't work. Can you help me with this problem? Thanks for any thoughts and ideas
![Screen Shot 12-03-21 at 10 37 AM](https://user-images.githubusercontent.com/87720783/144573626-04ca4345-fb4c-43f

[2021-12-03 17:08] REALBLOND commented on #153
The issue was fixed by reinstalling the package. You can close the ticket.

[2021-12-03 17:08] #153 closed, assigned to nobody

[2021-12-03 17:17] munafio commented on #152
@Rodion15 Your conflict is with `guzzlehttp/guzzle` package.
 Chatify requires `pusher/pusher-php-server v7` and `v7` requires `guzzlehttp/guzzle ^7.2` .. your `guzzlehttp/guzzle` is `v6.3` as I can see from the error above, so try to update this package or use another version of Chatify which I don't really recommend.

[2021-12-12 19:35] #152 closed, assigned to nobody

[2021-12-16 08:29] faisalfaiz64 opened #154 "Auth issue Auth::user() is null"
Hi, I install chatify in my app and I have JWT auth in my app, but now when I run chatify it show me an error, dark_mode is empty means it is not getting my user through Auth::user()
I install in the fresh project and it works fine there, but not working with JWT

[2021-12-16 08:43] munafio commented on #154
@faisalfaiz64 Hey, Of course it won't work because it is implemented to work on web .. you have to do something modification to get it working on APIs so you have to send auth token through the requests then you can access Auth::user if authenticated.

[2021-12-16 10:07] faisalfaiz64 commented on #154
ok, thank you.

[2021-12-16 10:07] #154 closed, assigned to nobody

[2021-12-19 14:20] bajoski34 opened #155 "show no internet access"
whenever i hit the route, https://vicomma-stagingrevamp.herokuapp.com/chatify

[2021-12-19 14:36] #155 closed, assigned to nobody

[2021-12-19 14:39] munafio commented on #155
@bajoski34 Make sure that you have set Pusher's credentials and no errors at the console tab.

if you have solved this issue you can mention the solution for future visitors.

[2021-12-20 15:07] paulmezza81 opened #156 "Migration 'down' function has wrong table name"
Hi,
In the messages and favorites migrations, the 'down' function is missing the 'ch_' off the front of the table names

[2021-12-21 10:26] bajoski34 commented on #155
@munafio thanks that was the solution.

[2021-12-22 01:29] munafio commented on #156
@paulmezza81

Hi,
I literally missed this one! .. I'll fix that in the next release as soon as possible.
And you can also make a pull request if you want to contribute.

Thank you ❤️

[2021-12-22 18:33] elliters commented on #29
This has been a year now, is this get solved ?

[2021-12-22 21:19] munafio commented on #29
Yes, since v1.2.x as I can remember.

[2021-12-22 21:36] munafio commented on #156
@paulmezza81 Fixed with [v1.3.1](https://github.com/munafio/chatify/releases/tag/v1.3.1).

[2021-12-22 21:36] #156 closed, assigned to nobody

[2021-12-23 03:36] sscotti opened #157 "CSS issue in FF with the contact list"
In the release it looks like this:

![image](https://user-images.githubusercontent.com/236933/147184116-2e981cc0-555c-4d75-b48f-0ce15d68f91a.png)

with an overflow, even though there appears to be available space below.

[code]
if you change to:

[code]
it takes up the available space with no scroll if there are not any overflow items in the list.

![image](https://user-images.githubusercontent.co

[2021-12-23 22:48] munafio commented on #157
@sscotti Great job, thank you for your report and I have fixed this issue right now and I have tested it out .. will be there with the next release v1.3.2.

Thanks again

[2021-12-23 22:48] #157 closed, assigned to nobody

[2021-12-30 17:48] ArwaElballali opened #158 "The user chat is not showing"
When I click on the user i want to chat with the URL changes to that user id but the chat is not opening, and i installed in perfectly fine, I'm using Laravel 8.

[2021-12-31 00:16] munafio commented on #158
@ArwaElballali hi, please provide more info about your issue and mention Chatify version you are using.

As Chatify v1.3.x it is automatically changes the url according to the user you are chatting with.

[2022-01-03 19:28] #158 closed, assigned to nobody

[2022-01-08 17:55] hasanalihaolader commented on #158
when using  ^v1.3 `getContacts() `is call post method but web.php and api.php write get method
as you see
![Screenshot from 2022-01-08 23-49-49](https://user-images.githubusercontent.com/23256533/148654357-ea0da6b1-0384-4541-8f70-9b8d48c07f2f.png)
but `getContacts() ` is working fine as well as older version v1.2 because web.php is calling getContacts as post method

[2022-01-10 08:23] MarJose123 opened #160 "File extension not allowed! message rephrase."
Throwing message "File extension not allowed!" instead of File size limit.

https://github.com/munafio/chatify/blob/6117fdd630cbdde043ca21a978c73d98fd29162d/src/Http/Controllers/Api/MessagesController.php#L136

[2022-01-10 10:34] munafio commented on #160
@whoami213 Hi👋, I will fix this one in the next release.
Thank you 🙏🏻

[2022-01-10 18:23] #160 closed, assigned to nobody

[2022-01-14 06:33] hasanalihaolader opened #161 "The user chat is not showing"
when using `^v1.3` `getContacts()` is call post method but web.php and api.php write get method
as you see
![148654357-ea0da6b1-0384-4541-8f70-9b8d48c07f2f](https://user-images.githubusercontent.com/23256533/149462454-38410775-0212-4d2f-94df-a7d6a21d106c.png)

but `getContacts() `is working fine as well as older version v1.2 because web.php is calling getContacts as post method

[2022-01-17 18:56] ellwo opened #162 ""Attempt to read property id " this is the error when I click to show Conversation"
Attempt to read property "id" on null', exception: 'ErrorException'
, file: \\chatify-demo-master\\vendor\\munafio\\chatify\\src\\ChatifyMessenger.php', line: 115, trace: Array(50)}
responseText: "{\n    \"message\": \"Attempt to read property \\\"id\\\" on null\",\n    \"exception\": \"ErrorException\",\n

[2022-01-19 18:44] Zafeer999 commented on #162
i am also facing the same issue with api

[2022-01-20 09:42] jelleroorda opened #163 "Installing errors on the migrations step."
I'm following the installation instructions here:
https://chatify.munafio.com/installation

After publishing all relevant files with `php artisan chatify:install`, and then running `php artisan migrate` gives me the following error:
![Schermafbeelding 2022-01-20 om 10 40 36](https://user-images.githubusercontent.com/9193686/150313191-a76f92a8-a5e6-4862-ac90-8841e94c4598.png)

Basically the issue i

[2022-01-24 06:30] munafio commented on #163
@jelleroorda Hi,
Yes you are right.. there is no reason to load the migrations in the service provider since we have published them with the `install` command!
That's happened because earlier, the migrations was not published by default.. that's why.
I'll fix this issue with the next release.

Thank you.

[2022-01-26 23:43] LyndonMcjohnson commented on #163
How did you fix this issue in the meantime tho? @jelleroorda

[2022-01-27 10:49] jelleroorda commented on #163
Since I was testing it for a project, I had just commented the line out in the vendor folder. Obviously this is not the way to go for a real project. Since the fix is really simple I would suggest you make a PR to fix it, or you can temporarily use your own fork (you need to add your fork to the “repositories” key in the composer.json).

[2022-01-27 21:25] LyndonMcjohnson commented on #163
Got that. created a PR. thanks for the tip.

[2022-01-28 14:32] jelleroorda commented on #163
Since I had to deploy this to a staging environment, I have applied a patch in [this fashion](https://downing.tech/posts/overriding-vendor-classes).

[2022-02-04 11:56] munafio commented on #161
@RahibHasan I think it is related to the newer update that included APIs, because I have made lots of changes.
I'll check it out and fix this issue in the next coming version, and will let you know of course with the updates.

[2022-02-04 12:02] munafio commented on #162
@Zafeer999 @ellwo Can you please provide more info about your issue?

[2022-02-04 13:08] munafio commented on #161
@RahibHasan
to solve this issue, you have many options:

If you are using v1.3.x newer versions, then you have to

## Option 1
Go to  `code.js` file in your app at `/public/js/Chatify/code.js`, and then go to line [789](https://github.com/munafio/chatify/blob/7933c08cd2d28217ad22527b0f5e0b58b5da0ce4/src/assets/js/code.js#L789)
and update the method from `POST` to `GET`.

## Option 1
update your co

[2022-02-04 13:08] #161 closed, assigned to nobody

[2022-02-04 13:21] #163 closed, assigned to nobody

[2022-02-17 17:40] rassemdev opened #166 "Request for feature"
This is more like a feature.
I've been using your package for over 1 years. This has been really helpful for me on my project. Now I am need of implementing this on a React Native App. So is there any chance that you will make a React package for this!

[2022-02-18 04:24] supportskins opened #167 "Start proactive chat"
Hello,
Is there a way to start proactive chat between 2 users without having to open the chat window and search for the user? Something clicking on the chat icon and initiate chat between 2 users?

[2022-02-18 04:27] supportskins commented on #167
Nevermind, got it -- https://github.com/munafio/chatify/issues/128

[2022-02-18 04:27] #167 closed, assigned to nobody

[2022-02-25 09:43] asefsoft opened #168 "Dont send back all user attributes in ajax requests!"
Hi
I suggest that don't send all User model data when calling methods like idFetchData. this is very bad idea and put server at data leakage risk.

I suggest changes like this:

[code]
I added select(['id','name','avatar','active_status'])

please do something like that on all places.

thanks

[2022-02-28 23:28] Manoah1988 commented on #28
any solution for notification in header for other page on laravel app?
Thank you

[2022-03-01 08:16] munafio commented on #166
@rassemdev
Currently, there is no plans for this ..

[2022-03-01 08:16] #166 closed, assigned to nobody

[2022-03-01 08:18] munafio commented on #168
@asefsoft Thank you for your advice.. I'll keep it in mind.. also we could use resources for our response

[2022-03-01 08:18] #168 closed, assigned to nobody

[2022-03-15 07:02] sharingankakashi commented on #162
Hello,
Trying to access chat apis.Im not able to get data from **Auth::user()** .Insted of **Auth::** I used **auth('sanctum')** its worked for me.Is there any other way because modifying vendors files its not good.

Auth API
http://127.0.0.1:8000/chatify/api/chat/auth

ERROR
"message": "Attempt to read property \"id\" on null",
    "exception": "ErrorException",
    "file": "C:\\xampp\\htdocs\\ch

[2022-03-15 10:42] sharingankakashi commented on #162
after publishing controllers I changed all **Auth::** to **auth('sanctum')**

https://chatify.munafio.com/customizations

php artisan vendor:publish --tag=chatify-controllers

Its worked for me.

[2022-03-15 21:06] #162 closed, assigned to nobody

[2022-03-18 05:14] cullobsidian7 opened #170 "Can't send images more than 5MB"
I'm unable to send images more than 5mb. The message gets sent but the images attached does not. I've edited php.ini, config.php, code.js and still it doesn't seems to work. below are the attached images.

This is the loaded **php.ini**
![php ini](https://user-images.githubusercontent.com/77494299/158940889-9cbccf00-cea3-4a78-8c43-d91c757dac03.png)

**upload_max** limit
![upload_max](https://user-

[2022-03-18 10:49] munafio commented on #170
@cullobsidian7 the response/request seems to be fine!!
you can try to publish the controllers as mentioned at the official docs, then track/debug the request to check if the image upload  functionality working as expected or not.

+Check your database for the images, and your files too.

[2022-03-18 15:39] cullobsidian7 commented on #170
I published the controllers as you said.
Still everything is the same. The database has no entry of the image nor the filename. And attachments folder is also empty.
Just so you know, images less than 5mb get uploaded as usual, lightbox gives preview too and database also registers it.

[2022-03-19 02:49] JonathanGrimaldo commented on #170
Hello, I recently installed Chatify, I did the test of uploading a 6Mb image just for testing.
I use Laravel 7 wt Php 7 for this example test:

My image test:

<img width="323" alt="image" src="https://user-images.githubusercontent.com/50802445/159103638-c1f72cd9-6c20-4f96-85ae-6b5cebd32663.png">

Do not modify any PHP configuration, only the following file in the following path:

`public/js/chati

[2022-03-19 04:19] cullobsidian7 commented on #170
Yes, I know it works with laravel 8 and php 7 too. I've tried it's just with the lastest versions idk how to make it work. Alsoare you using the latest version of chatify?

[2022-03-20 05:42] JonathanGrimaldo commented on #170
If I use the latest version of chatify, I have not tried with Laravel 9

[2022-03-20 05:44] cullobsidian7 commented on #170
I'm trying with laravel 8 and php 7 now.

[2022-03-20 10:29] cullobsidian7 commented on #170
Laravel 8, php 7.4 chatify V1.3 still the same

[2022-03-23 09:19] cullobsidian7 commented on #170
@JonathanGrimaldo can you share your composer.json please?

[2022-03-23 15:39] JonathanGrimaldo commented on #170
@cullobsidian7 Sure, I have more packages installed but you can ignore them and only have chatify related in red.

![image](https://user-images.githubusercontent.com/50802445/159737354-31ffa5af-23b9-4e46-a9b8-91609f31cc08.png)

I uploaded the complete file in a zip file (composer.json):
[composer.zip](https://github.com/munafio/chatify/files/8334381/composer.zip)

[2022-03-23 16:32] cullobsidian7 commented on #170
Thank you for sharing, actually the problem is with guzzlehttp/guzzle, can you please confirm the guzzle package version used in your chatify instance? Also can you please what are the server specifications of the server you've hosted chatify, especially the OS.

[2022-03-24 01:36] XMMR12 commented on #170
Open up the terminal or the cmd inside folder of the project and run this command :
`composer require guzzlehttp/guzzle:^7.0`

[2022-03-24 01:45] XMMR12 opened #171 "Chat is not connected, console error: { Expected expression, got '.' } file: code.js"
Chat is not connected, console error: { Expected expression, got '.'  } file: code.js
![unknown](https://user-images.githubusercontent.com/31443996/159825249-027dc775-0fa6-48f1-8ee5-c60860d169c2.png)

I have searched alot for that file in the project directory

![unknown-1](https://user-images.githubusercontent.com/31443996/159825324-981baba0-282d-4fec-9aa6-8a15d653627a.png)

[2022-03-24 01:48] XMMR12 commented on #171
Knowing that `npm run mix` wasn't  mixing up

That's why i have used :
`npm i npm5`
Then installed then ran the mix command
Later it worked..

But this issue came up with

[2022-03-24 04:36] XMMR12 commented on #171
I think i have solved it by removing

`?.lastpage` in 3 lines in `code.js` file

In line `551` : remove the `?.lastpage`
In line `803` : remove the `?.lastpage`
And do the same in line `965` .

![20220324_063343](https://user-images.githubusercontent.com/31443996/159842977-a56c2d61-129f-4efa-857d-bfe237b013f6.png)

It came up with this console error :
![unknown-3](https://user-images.githubusercon

[2022-03-24 13:20] cullobsidian7 commented on #170
Didn't worked still the same, guzzle updates to 7.2

[2022-03-24 14:11] XMMR12 commented on #171
Till now didn't face any problems except this `object error` in JS console (client-side).

i think this solved the problem as its working right now also made this video for the issue
https://youtu.be/kyhIUHfnBW4
hope this helps.

Thanks,
XMMR12

[2022-03-24 14:11] #171 closed, assigned to nobody

[2022-03-24 16:13] cullobsidian7 commented on #170
@JonathanGrimaldo which php version are you using ?

[2022-03-26 12:47] shaikjilani290 opened #172 "history not showing"
hi sir,
thank you for you package, i am using your charify package in my existing laravel application for chat communication, when i am open the chat url it is not showing the history can you please tell me what the issue and how to resolve that, i am sharing the two users credentials can you please check once

https://webdoc.live/public/login

username : [jilani.asf@gmail.com](mailto:jilani.asf@g

[2022-03-26 14:26] itsrafsanjani commented on #172
@shaikjilani290 try this one
https://stackoverflow.com/a/44984930

[2022-03-27 10:45] shaikjilani290 commented on #170
i am not able to upload the image can you please tell me what the issue

<img width="1280" alt="Screenshot 2022-03-27 at 4 14 42 PM" src="https://user-images.githubusercontent.com/87796590/160277798-baafc499-f280-4833-995a-b52f071ca470.png">

[2022-03-27 15:10] cullobsidian7 commented on #170
Do php artisan storage:link

[2022-03-31 18:21] eskiesirius opened #175 "Vuejs Design"
Is there vuejs design? I want to integrate this to laravel jetstream

[2022-03-31 21:37] iamwebsurgeon opened #176 "Unseen Messages Counter"
Hi Munafio,
I appreciate you did great work.  During implementation, I observed there is 1 feature missing, if it exists, maybe chastity will be the best 1 package among all other packages. I am talking about the Unseen Message Counter.

Moreover, I am trying to do it by myself but I am unable to listen to chatify events in Laravel Echo. Can you guide me? I am doing it in this way.
Echo.private(`c

[2022-04-03 06:11] JD456976 commented on #176
This is what I'm using:

Model:
`public static function unseenCount()
    {
        return ChMessage::where('to_id', Auth::id())->where('seen', 0)->count();
    }
`

Middleware
`      //Unseen Message Count
        $unseen = ChMessage::unseenCount();
        View::share(['unseen' => $unseen]);`

View:

` <span class="pro-count blue">{{ $unseen }}</span>`

[2022-04-09 05:16] munafio commented on #175
@eskiesirius No, not yet!
Chatify currently not provides a Vue.js/React/Angular copies.

[2022-04-09 05:16] #175 closed, assigned to nobody

[2022-04-09 05:19] munafio commented on #172
@itsrafsanjani as Rafsan said above, disable the strict mode and will be solved, this happens because issues related to the `group by` in mysql

[2022-04-09 05:19] #172 closed, assigned to nobody

[2022-04-09 05:21] munafio commented on #176
@iamwebsurgeon it is already exists! or you mean something different?
+the suggestion above will do the trick

[2022-04-09 05:21] #176 closed, assigned to nobody

[2022-05-01 23:43] richprince23 opened #177 "Change avatar directory to public folder"
I installed Chatify into an existing application where the user images were stored in a folder under the public folder,
problem is I can't seem to route the avatar path to that folder. it always returns the path in the **storage** folder and ends up giving 404.

[2022-05-01 23:52] richprince23 opened #178 "idinfo is returning error"
I installed Chatify into an existing application but when i open the chat interface, idInfo returns a count() error

![image](https://user-images.githubusercontent.com/19754518/166169573-9113d89a-ae57-48cb-bde7-6888b27cf4d9.png)
![image](https://user-images.githubusercontent.com/19754518/166169595-29195926-09f5-45ba-b7e0-12ea2d155301.png)

error response
![image](https://user-images.githubusercont

[2022-05-02 00:16] richprince23 commented on #177
My bad, should have been doing that in the views.

[2022-05-02 00:16] #177 closed, assigned to nobody

[2022-05-02 00:18] richprince23 commented on #178
I can't start a new convo or send messages because of the error

[2022-05-02 02:01] munafio commented on #178
@richprince23 Please provide more details about your issue, and your environment that your are working on.

[2022-05-02 09:29] munafio commented on #170
@XMMR12 @JonathanGrimaldo @shaikjilani290 @cullobsidian7
In the `MessagesController.php` file, at [this](https://github.com/munafio/chatify/blob/69621870b71f34c8ab964c2655922d7718114271/src/Http/Controllers/MessagesController.php#L134) line .. there is a condition with `hasFile` method, this method behind the scenes checks php for file size if limited or the file too large, then it will return fal

[2022-05-02 09:29] #170 closed, assigned to nobody

[2022-05-02 09:32] munafio commented on #170
Another note, with the next coming version of Chatify (v.1.4.0) will be no need to change the file size limitation from the client code and the config file. Only change it from the config file, same thing with the allowed files/images.

[2022-05-02 12:46] richprince23 commented on #178
I didn't make any changes to the controllers except for the avatar path.
I followed every step on the website and the video.
after installation, when i open chatify, it shows a blank chat screen with no input field for me to type message.
And th User Info section shows blank

![image](https://user-images.githubusercontent.com/19754518/166235041-07eb6846-e0df-4738-9670-72636bc2841e.png)

![image](h

[2022-05-02 13:01] richprince23 commented on #178
Hmmm, the issue was from my user table. I have firstname and lastname columns whereas chatify uses name column. I created an accessor in User model to return the firstname and lastname as a signle column; name.

`protected $appends = ['name'];

public function getNameAttribute()
{
   return $this->firstname.' '.$this->lastname;
} `

[2022-05-02 13:01] #178 closed, assigned to nobody

[2022-05-04 02:49] NawrasBukhari commented on #96
Thank you for the encryption approach, but I have a problem with the decryption as shown here

![error decryption](https://user-images.githubusercontent.com/63796900/166617205-800c9da9-b7af-4ce7-b351-568bbabe1b7c.png)

[2022-05-04 03:43] munafio commented on #170
Version 1.4.0 has been released 🔥 Checkout the change log and the docs for more details.

[2022-05-04 05:44] NawrasBukhari opened #179 "Encrypting Message body in the database"
Follow up for the [issue](https://github.com/munafio/chatify/issues/96).
I have managed to encrypt the message body when inserting to database, but my problem with retrieving the message again.
it is still encrypted.
changes that I have made:
![image](https://user-images.githubusercontent.com/63796900/166628317-5af75ed3-ed07-4aca-9ae6-ed0fdea03536.png)

the current approach:
![image](https://user-

[2022-05-04 06:17] harisalibarkat commented on #96
Please replace your messageCard.blade.php with the given code.

[code]

I have actually added a try-catch block and Crypt::decryptString($message) on the rendered message. It will also take care of your older non-encrypted messages. Good Luck!

[2022-05-04 06:23] harisalibarkat commented on #96
Apply the same logic to the listItem.blade.php file. I have mostly overrides the code for my own purpose & I have made a different copy for you which can act differently.  Please tell me if you find any further issues with the given code.

[code]

[2022-05-04 06:43] NawrasBukhari commented on #179
Solved [here](https://github.com/munafio/chatify/issues/96#issuecomment-1116968115)

[2022-05-04 06:43] #179 closed, assigned to nobody

[2022-05-04 06:44] NawrasBukhari commented on #96
Thank you it solved my problem!

[2022-05-17 09:11] hckoks opened #180 "Cannot declare class Chatify\Http\Controllers\MessagesController, because the name is already in use"
Hello,

I got **Cannot declare class Chatify\Http\Controllers\MessagesController, because the name is already in use**

When i change route namespace
to
'namespace' => env('CHATIFY_ROUTES_NAMESPACE', 'App\Http\Controllers\vendor\Chatify'),

Using php 8.0 and laravel 9

[2022-05-18 03:56] #180 closed, assigned to nobody

[2022-05-18 05:54] getupzee commented on #158
I am getting the same issue.

what is solution to it

![image](https://user-images.githubusercontent.com/3645143/168967136-1119d44a-2d82-4e80-8dd5-7ef4614e3416.png)

[2022-05-18 15:15] stayallive commented on #29
This package is still using a single socket channel as of today for realtime so be cautious using this, the Pusher authentication endpoint also authorizes any channel for any authenticated user so be careful exposing that if you use other private channels with more sensitive data.

https://github.com/munafio/chatify/blob/d49fcc3a345e77efa327b61c3590520f4cdd71cb/src/Http/Controllers/MessagesControl

[2022-05-19 11:38] mdrathik opened #181 "Demo Link Not working"
Could you please check, the demo link is not working?
[screenshot](https://tppr.me/yXoba)

[2022-05-20 12:46] munafio commented on #181
@mdrathik Yes because of issues with the server provider .. you can test it out and have your own demo by using the demo repo:
https://github.com/munafio/chatify-demo

[2022-05-20 12:46] #181 closed, assigned to nobody

[2022-05-20 14:47] munafio commented on #158
This issue is mysql related issue with 'group_by' .. in order to solve this issue, go to config/database.php the from (mysql) make the (strict mode) disabled.

[2022-05-20 14:50] munafio commented on #158
@hasan689009 @getupzee please keep the comments here related to the issue itself.. if you are facing another (different) issue, then open a new issue.

[2022-05-20 22:11] richprince23 opened #184 "Can't send message on live server"
Implemetation works fine on my localhost. Messages are instant and everything works as expected. But when in production, I get a Server Error as the response when I send a message.
What happens is that, I get and error icon and the message is not pushed instantly, i have to refresh the page to see that it is sent.

Shockingly, I can send a message from my localhost to my live user and it works, bu

[2022-05-21 19:34] markosole commented on #184
I am having same issues in localhost, I haven't tried with installing it on live server.

[2022-05-22 11:16] munafio commented on #184
@markosole @richprince23 What is the error message you are getting? please provide more details.
+Make sure that you have published the assets (views....etc) as mentioned in the official documentation: https://chatify.munafio.com

[2022-05-22 11:32] richprince23 commented on #184
I found out that my ssl certificate was causing my sms and emails not to work. Once i fixed that, The errors were gone.
I thing it has something to do with server errors.

@munafio can you please make the server errors a bit verbose than just returning "Server Error"?
it makes it harder for us to determine where exactly the error is coming from
thanks

[2022-05-22 11:32] #184 closed, assigned to nobody

[2022-05-22 11:36] munafio commented on #184
@richprince23 I will in the next coming versions to improve the error handling issues. Just to mention that the message `Server Error` on production because you are set `debug: false`, it should be false and its related to Laravel itself.

[2022-05-22 15:42] Gkiokan commented on #154
Just for reference. Create a custom middleware and add this one to the list of middlewares of chatify.
If you have the token saved as cookie, it will patch your request and the auth will work as it should.

[code]

[2022-05-23 14:08] Taos191 opened #185 "not allow me a message sending"
I installed for my laravel 8.8 Framework , the rest of all connectivity is fine but it does not allow me a message sending option. please Help me

[2022-05-23 15:06] Taos191 commented on #185
![Capture](https://user-images.githubusercontent.com/106091750/169849846-13936846-3223-4f89-a1e3-5471a4b9a151.PNG)

[2022-05-23 15:07] Taos191 commented on #185
![SSS](https://user-images.githubusercontent.com/106091750/169849988-4dea2e20-c98f-4d77-bbdb-015a1ed8ef4f.PNG)

[2022-05-23 15:36] Taos191 commented on #185
![image](https://user-images.githubusercontent.com/106091750/169855798-93b8fadf-0ee3-4e23-9700-6b11d062ac4a.png)

[2022-05-23 16:00] munafio commented on #185
@Taos191 Expand the `trace` errors and share it with us, it seems you are trying to call a method at `User` model that does not exist!

[2022-05-23 16:06] Taos191 commented on #185
![image](https://user-images.githubusercontent.com/106091750/169861150-803d3aaf-7f33-4b0f-a278-e53fd058fe70.png)

Model user exist

[2022-05-23 16:08] Taos191 commented on #185
how fixet it

![image](https://user-images.githubusercontent.com/106091750/169861612-74ad6a84-19db-4c97-acbc-d2cea0bfa173.png)

[2022-05-23 16:08] munafio commented on #185
@Taos191 I meant the method not the model itself

[2022-05-23 16:09] Taos191 commented on #185
yes i understand you

[2022-05-23 16:10] munafio commented on #185
Click on the error, then expand the `trace` errors to see where the errors come from.

[2022-05-23 16:15] Taos191 commented on #185
![image](https://user-images.githubusercontent.com/106091750/169862732-05d3c559-8de8-4d7b-a246-d42fa8f84b7d.png)
![image](https://user-images.githubusercontent.com/106091750/169862769-4438b173-0def-4907-acf3-a666370ea5d4.png)

[2022-05-23 16:20] Taos191 commented on #185
![image](https://user-images.githubusercontent.com/106091750/169863601-949a96e9-024e-40b5-8d92-7ea229b623c3.png)

[2022-05-23 16:35] munafio commented on #185
@Taos191 on each screenshot you give a different error message!
To solve the error of (group_by) just go to config/database.php then from (mysql) set the strict mode to false.. you can read more about this issue (mysql group_by) at google.

[2022-05-23 16:40] Taos191 commented on #185
![image](https://user-images.githubusercontent.com/106091750/169867472-f2bf34fb-b252-4aa0-b67f-0c52518e7e5f.png)

[2022-05-23 16:40] Taos191 commented on #185
can you help me please its very important for me

[2022-05-23 16:49] Taos191 commented on #185
![image](https://user-images.githubusercontent.com/106091750/169869297-3cd493ae-1068-4b4c-831f-21aa770b3401.png)

[2022-05-23 16:50] Taos191 commented on #185
there is no problem with web.php as I have not modified this file?

[2022-05-23 16:50] munafio commented on #185
Expand line 13

[2022-05-23 16:51] Taos191 commented on #185
![image](https://user-images.githubusercontent.com/106091750/169869642-a8377dac-bb35-46fc-b341-43f60a937058.png)

[2022-05-23 17:03] Taos191 commented on #185
![image](https://user-images.githubusercontent.com/106091750/169871316-6919b5aa-f625-4667-8f58-d3bc66c542db.png)

[2022-05-23 17:03] munafio commented on #185
@Taos191 Can you share the source code? if you can, then share it on public Github repository and send the link here.

[2022-05-23 17:04] Taos191 commented on #185
with we transfer have a problem?

[2022-05-23 17:20] munafio commented on #185
Not a download link!! a github repo instead. anyway I'll check the code.

[2022-05-23 17:49] munafio commented on #185
@Taos191 After a long search in your code and as I thought, the issue is with your code not the package. at `App\Models\User` line `48` you are using the `appends` to append the accessor `image` on each user but don't have it yet in the `user` model.

You either solve it with your needs or remove the `appends`.. it is up to you.

[2022-05-23 17:49] #185 closed, assigned to nobody

[2022-05-23 17:51] munafio commented on #185
@Taos191 and please, next time make sure that the issue you open is related to the package itself not an issue with your app, so you have to check the errors and track them to lead you to the place that causing the error.

[2022-05-23 18:16] Taos191 commented on #185
sorry for being late

[2022-05-23 18:31] Taos191 commented on #185
yesssssss
thank youuuuu

[2022-05-23 19:09] Taos191 opened #186 "dont show contacts cloumn left"
![image](https://user-images.githubusercontent.com/106091750/169889202-2387ec3e-ab09-4ae4-8f49-6127e0aee234.png)
![image](https://user-images.githubusercontent.com/106091750/169889251-41f92cec-f129-4257-9fdc-a7968acb90c9.png)

Hello!
Contact User dont show in Coloumn Left

And image dont show

http://localhost/storage/users-avatar/avatar.png

[2022-05-23 19:15] Taos191 commented on #186
i fixed user  in in column left

only image connot fixed

[2022-05-25 10:28] munafio commented on #186
@Taos191 The issue is with your url, in your `.env` file, change `APP_URL` to your running url.

[2022-05-25 10:28] #186 closed, assigned to nobody

[2022-06-04 15:31] imanezerouali opened #188 "can't change the profil image or sent a one"
since i installed chatify , i got two problems that i wasn't really able to fix it
i can't change or send image profil( the links are ceated succefuly with the command php artisan storage :link ) , and i got an error with sending message ( i should refrech the page every time )

![image](https://user-images.githubusercontent.com/93742102/172012091-aba6b9c9-4a4a-460d-8596-84111c42003d.png)
![image]

[2022-06-04 20:11] HuluWZ commented on #161
getContacts() can't respond but it's get method in both

[2022-06-04 20:54] munafio commented on #161
What is the issue? Can you please explain?

[2022-06-04 21:06] HuluWZ commented on #161
![image](https://user-images.githubusercontent.com/59336998/172025491-773e012d-d6c4-4314-b8fa-6267fe6603c8.png)

Error in Network tab
 getContacts() error

[2022-06-04 21:26] usmanarif-147 opened #189 "Searching issue"
Searching filter is working fine, but when I click on contact its disappear, and nothing happened. I am trying to see issue on console but its just disappear from search list just after to click on console.

[2022-06-06 06:45] SanaRamzan1234 commented on #145
im getting the same issue...but image store in public folder .....but have url issue in chatifyMessenger.php

[2022-06-06 06:45] SanaRamzan1234 commented on #145
`  public function getUserAvatarUrl($user_avatar_name)
    {
        return self::storage()->url(config('chatify.user_avatar.folder') . '/' . $user_avatar_name);
    }

    /**
     * Get attachment's url.
     *
     * @param string $attachment_name
     * @return string
     */
    public function getAttachmentUrl($attachment_name)
    {
        return self::storage()->url(config('chatify.attach

[2022-06-06 06:46] SanaRamzan1234 commented on #145
here error in url

[2022-06-06 06:49] munafio commented on #145
Have you set APP_URL in your `.env` file to your app's url? this may cause a url issue as in your case.

[2022-06-07 10:42] munafio commented on #188
@imanezerouali Please check the network tab to track the errors occurred

[2022-06-07 15:23] imanezerouali commented on #188
![image](https://user-images.githubusercontent.com/93742102/172419249-f56c794f-77fd-4a03-93c2-6371b8dbe225.png)

[2022-06-07 19:18] munafio commented on #188
@imanezerouali
in your image above, if you can see the request (sendMessage) with error 500 .. click on it and check out what's causing the error.

[2022-06-07 19:23] munafio commented on #189
@usmanarif-147 The search input will disappear if the input lost focus (blur). When you click a search item from the result, you will be navigated to that user you clicked on, and you can check the info section at the right side to see who you are talking to.

[2022-06-07 19:27] munafio commented on #188
I have deleted the unnecessary images you sent in this issue to keep it clear for other developer who may face the same issue.

[2022-06-07 19:42] imanezerouali commented on #188
![image](https://user-images.githubusercontent.com/93742102/172468486-b6c5320c-64b0-4605-ade9-11a0b1df165e.png)

[2022-06-07 19:54] munafio commented on #188
@imanezerouali Not this one!! please follow my instructions .. go to `network` tab as in the first image above, then the red request `sendMessage` click on it, a panel on the right side will appear then select `response` tab. there you can find the error message sent by the server.

[2022-06-07 20:18] imanezerouali commented on #188
![image](https://user-images.githubusercontent.com/93742102/172474486-9dcf9135-5e8e-4109-8dda-160efe789f52.png)

[2022-06-07 20:22] munafio commented on #188
This issue is related to Pusher and your machine's timestamp.
Follow [this link](https://support.pusher.com/hc/en-us/articles/4412509038097-What-Does-The-Timestamp-Expired-Response-From-The-Channels-Rest-API-Mean-When-Triggering-An-Event-) to solve the issue.

[2022-06-07 20:22] #188 closed, assigned to nobody

[2022-06-10 08:56] redx1t commented on #128
Adding this for those who will not fully understand the explanation above. I had the same problem

`chatify?id={{ $user_id }}` for the url that will trigger start chat

in `public/js/Chatify/code.js` make this changes in the document ready section
[code]

[2022-06-12 12:15] #189 closed, assigned to nobody

[2022-06-24 09:45] Domiynsbelhanda commented on #145
Hey, i'm this error, what's a correct app_url for you?

[2022-07-05 10:38] LuqmanKhanZai commented on #145
@munafio
I am Facing The Same Issue My app Is totally working On local
then we go to the upload on the server Give Me multiple Issues FIrst issue Is that image Not Showing the Image
I publish all Documents And Storage Links but do not show images And Not work API.
<img width="953" alt="Chat" src="https://user-images.githubusercontent.com/82702181/177309534-69d66257-fa1c-4c4c-9f28-30029932d172.png"

[2022-07-05 11:05] munafio commented on #145
@LuqmanKhanZai

This issue is closed, and you can either find a solution from above if helps or open a new issue.

And DO NOT forget describe your issue in details with a descriptive title.

[2022-07-05 17:13] samialtaher commented on #140
Hello, I have the same issue, my user table has first_name and last_name.
But I have no clue how and where to make the changes. Can you or the author assist.

Thanks

[2022-07-05 19:44] samialtaher opened #194 "Getting error: message "Trying to get property 'id' of non-object""
Hi,
I installed this and initially things seemed OK. I have 2 issues:
1- On the left, i do not get a list of all users. I can only search for them and click to start a conversation.

2- Main issue:
A- start a conversation with any user (or even the saved messages). Things work fine
B- Go to any other user and start a new conversation - OK
C- Go back to first conversation, i get the error, and the

[2022-07-07 09:22] munafio commented on #140
@samialtaher If you have published the controllers of the package (mentioned at the docs), then all you have to do is to make your changes there at `MessagesController`.

Also, the views of the package need to be changed as well.

[2022-07-07 09:31] munafio commented on #194
@samialtaher
My answer to your issues:
1. this is how Chatify works, you have to search then start conversation to add it then to your contact list.
2. This seams to be an issue in Chatify that I'm going to solve soon.

Last, you don't have to make modifications directly on `ChatifyMessenger.php`, not a good idea to make changes in `vendor` files.

[2022-07-07 09:32] samialtaher commented on #140
Actually, I just created an Accessor  and appends to the User controller and this solved this issue

 protected $appends = ['name'];

function getNameAttribute() {
  return $this->first_name . ' ' . $this->last_name;
}

[2022-07-07 09:52] samialtaher commented on #194
Thank for the response.

1- Understood.
2- Looking forward to the fix. It has been driving me crazy

Where can i change the path to the avatar and attachments? Can this file ChatifyMessenger.php  be published?

[2022-07-07 10:06] munafio commented on #194
@samialtaher you can take a look at `config/chatify.php` in your app.

Also, can you demonstrate your second issue? because after testing the issue in my side, seems OK!

[2022-07-07 11:08] samialtaher commented on #194
I recorded a video here: https://www.loom.com/share/706d7548f4cd4fb29faf9629728844e2

[2022-07-07 11:24] munafio commented on #194
@samialtaher  Thank you for your demonstration.
As I can see, there is an issue with the message you send to the database .. thats why it can not be loaded again because it fails.
I have tested it out on my own dev environment also on http://chatify-demo.munafio.com/ .. and there is no issue as yours!
I'll test it out and search more about the problem, and keep you updated.

[2022-07-07 11:50] samialtaher commented on #194
@munafio Thanks.

[2022-07-08 15:43] munafio commented on #194
@samialtaher Chatiify v1.5.2 is now out 🚀
this issue been solved in this version, you can check it out.

[2022-07-08 15:43] #194 closed, assigned to nobody

[2022-07-10 06:04] gtu-myowin opened #195 "Malformed UTF-8 characters, possibly incorrectly encoded"
getContacts ajax was causing the error "Malformed UTF-8 characters, possibly incorrectly encoded" and I have to change the response from

[code]

to

[code]

as suggested here ([https://stackoverflow.com/a/49564258/2218290](https://stackoverflow.com/a/49564258/2218290))

Just reporting to fix in next minor release.

[2022-07-10 06:28] gtu-myowin opened #196 "Sensitive hidden fields are visible in api response"
I have define following fields hidden in my User model.

[code]

But they are still visible in api response as you can see in screenshot

![Screen-Shot-2022-07-10-at-12-48-25-PM-png-1606×1642-](https://user-images.githubusercontent.com/2696343/178133940-ae9c1cda-1de2-4968-b4ae-708136ff48c9.png)

I don't think it is good for security to make them visible. Please let me know how can I hide them in r

[2022-07-10 12:38] gtu-myowin opened #197 "Sanctum support (Auth::user() not working)"
I am getting `Attempt to read property id` error message here and there. At first, it can be solve according to this https://github.com/munafio/chatify/issues/162#issuecomment-1067831051 .

But now the error are firing from the vendor files which are not included in published assets. Kindly let me know how to enable support for Laravel Sanctum or work around these kind of errors.

Please see the f

[2022-07-10 17:24] munafio commented on #195
@gtu-myowin this solution depends on your own, you can change just change it like your suggestion.

[2022-07-10 17:24] #195 closed, assigned to nobody

[2022-07-10 17:40] munafio commented on #197
@gtu-myowin you can extend `ChatifyMessenger.php` class in your own class then override the methods you want to make change on; then in the controllers of Chatify, instead of using
[code]
use your own class
[code]

[2022-07-10 17:40] #197 closed, assigned to nobody

[2022-07-10 22:39] munafio commented on #196
@gtu-myowin since we are using raw sql queries, then we'll get all the columns from the database (users table).

Laravel docs:

Also read this about [model serialization](https://laravel.com/docs/9.x/eloquent-serialization).

**Solution**: you can either select the columns you want one by one using sql queries, or use [Laravel resources](https://laravel.com/docs/9.x/eloquent-resources#main-content

[2022-07-10 22:39] #196 closed, assigned to nobody

[2022-07-11 04:00] gtu-myowin commented on #197
@munafio Thank you for the work around. I thought so too. But wouldn't be nice if your package support Laravel Sanctum out of the box?

[2022-07-11 10:53] munafio commented on #197
@gtu-myowin I will add this in the configuration file of Chatify in the next releases.

[2022-07-24 19:03] tipmisle opened #198 "Issue with the /chatify/chat/auth (Pusher authentication request empty body)"
Hello,
first of all, thank you for such a great module. I've been able to implement it in my existing Laravel project so effortlessly that I can't even believe it. Hats off! :)

Locally I have no issues with the module and it works really great. I've followed all the steps in your documentation.
Unfortunately, I am experiencing some issues when I tried to deploy the module to my production site wh

[2022-07-24 22:57] XFAISAL commented on #196
Im facing the same issue

[2022-07-25 13:48] Expertweblancer commented on #62
`        'namespace' => env('CHATIFY_ROUTES_NAMESPACE', 'App\Http\Controllers\vendor\Chatify'),
`
I changed namespace and published controller assets.
but I still get this error.

Illuminate\Contracts\Container\BindingResolutionException
Target class [App\Http\Controllers\vendor\Chatify\MessagesController] does not exist.

[2022-07-25 14:01] Expertweblancer commented on #62
I fixed the issue.
I needed to change namespace on MessagesController as well.
like this
`// namespace Chatify\Http\Controllers;
namespace App\Http\Controllers\vendor\Chatify;`

[2022-07-25 18:40] #198 closed, assigned to nobody

[2022-07-26 09:58] gtu-myowin commented on #196
@XFAISAL munafio already given 2 solutions.

[2022-07-28 08:07] gtu-myowin opened #200 "Modify pusher's response for API"
Hi bro,

It's me again and thank you for the great package again.

The following code is from `app/Http/Controllers/vendor/Chatify/MessagesController.php` » `send()` method

[code]
I am overriding the default `ChatifyMessenger.php` with `app/Chatify/CustomChatifyMessenger.php` file. In that file, I have modified `fetchMessage()` method like this

[code]

The problem is, the normal response return

[2022-07-31 11:30] gtu-myowin commented on #200
Hello @munafio,

I want to add more information for you to spot the fix. I went ahead to find the root cause and found out my custom class's `fetchMessage()` method isn't overriding vendor's one.

I tried changing the response in `vendor/munafio/chatify/src/ChatifyMessenger.php` and it worked but afaik changing vendor's file is not recommend.

May I know how do you recommend to fix this?

[2022-07-31 13:26] munafio commented on #200
@gtu-myowin When you want to override a method in `ChatifyMessenger.php` which is the main class of Chatify, then you have to follow the steps below:
- Create a class in your Laravel application (e.g. `CustomChatify.php`).
- inside your class, extend `Chatify/ChatifyMessenger`
[code]
- Use your custom class `CustomChatify` at `MessegesController.php` for both web and api controllers if needed, ins

[2022-07-31 13:28] munafio commented on #200
added to the official documentation:
https://chatify.munafio.com/customizations#custom-chatify-class

[2022-08-01 05:10] gtu-myowin commented on #200
Jeez! Thank you very much for your extended support and updating the doc accordingly. I was extending the `use Chatify\Facades\ChatifyMessenger` instead of `Chatify/ChatifyMessenger` and it was working fine until this.

Now, it is all ok! Thank you bro.

[2022-08-01 11:05] #200 closed, assigned to nobody

[2022-08-08 11:47] MiralGondaliya opened #202 "Keyboard overlaping on input textfield issue on mobile"

[2022-08-09 15:04] Amr-Elewa opened #203 "image attachments and profile picture not appear"
image attachments and profile picture not appear
![002](https://user-images.githubusercontent.com/110920001/183686108-f8728c32-af18-4896-b375-4401db7cf983.png)
![001](https://user-images.githubusercontent.com/110920001/183686129-56d60313-c304-4013-8692-47e72d67586f.png)

[2022-08-10 07:43] #203 closed, assigned to nobody

[2022-08-10 15:03] munafio commented on #202
@MiralGondaliya you should not open an issue without providing a details! please update you issue description with the details required to be solved.

[2022-08-11 10:23] kirshi-sathish opened #204 "Server Error in AWS Server"
I implemented this code in my project and its working well in local. even in aws server i'm able to send and receive messages. but while getting getcontacts in web, it shows 500 error without any explanation.

[2022-08-12 13:59] munafio commented on #204
@kirshi-sathish it does throw errors without an explanation because the `debug mode` is false in production, you can set it `APP_DEBUG` to true to check the errors or check you logs to see what's happening there.

[2022-08-12 16:19] rassemdev commented on #52
@munafio  Any update on that?

[2022-08-14 11:08] munafio commented on #52
@munafio Actually, no. Still not worked on the v2 because of my own responsibilities and my work, also because I did not get a support from anyone to keep working on it .. but I will work on it ASAP. And Still releasing updates on the current version.
At the mean time, you can make it your self because with Chatify you can customize/add anything you want. Read the docs: chatify.munafio.com

[2022-08-14 11:23] munafio commented on #203
@Amr-Elewa please, when you close an issue of your own don't forget to mention the solution for others who may face same issue..  or refer to a previous issue if helped.

[2022-08-15 06:47] AmirHosseinAminiDev opened #205 "Messages Are Disapear When Page Refresh and user cant receive messages when is offline"
1- when two users are sending message to eachother and one of them refresh the page all messages and contacts lists that he sent message to them are disapear.

2- when a user is offline and other user send message to him , when user becomes online the received messages are not showing to user until user send him message again.

i can record a video or send image if you want

[2022-08-17 05:52] aliassad commented on #205
@munafio  I am facing this issue too, this is really critical, whenever user refresh the screen the chat users disappears which having new messages. The only way it came back if that user send a message again.

Please guide are we missing any thing.

[2022-08-18 11:52] shabnamashrafganjoie commented on #205
hi.

issue 1 :SQLSTATE[42000]: Syntax error or access violation: 1055 'laravel.users.name' isn't in GROUP BY.
solution:
short answer:
in config/database.php --> "mysql" array , set 'strict'=>false  to disable all.

or....

You can leave 'strict' => true and add modes to "mysql" option in:

[code]

issue2 : Malformed UTF-8 characters, possibly incorrectly encoded.

solution:
untill now you fixed ju

[2022-08-19 15:59] munafio commented on #205
@AmirHosseinAminiDev Please provide more details with your issue, I can not help without a detailed issue .. any errors there? which Laravel and php version your are using? ...etc

+Thanks to @shabnamashrafganjoie for a detailed solutions that may help, @AmirHosseinAminiDev @aliassad you can check it out too.

[2022-08-24 06:38] aliassad commented on #205
Awesome @shabnamashrafganjoie , The solution worked, thank you for sharing a detailed solution.

[2022-08-25 21:57] #205 closed, assigned to nobody

[2022-08-26 05:39] roqstarco commented on #202
@munafio

We have this issue. When opening the Chat window on a mobile device the keybord of the mobile phone pops up and is covering the text input field of the chat. So the user can type but is not seeing the text input field and what he is typing.
We tried to fix it but it's not working.

The chat is within a main <div ="row"> but that shouldn't be the issue. Content should move up somehow when

[2022-08-28 11:19] enanwangai opened #211 "Chatify Messaging Customization"
### Discussed in https://github.com/munafio/chatify/discussions/210

<div type='discussions-op-text'>

<sup>Originally posted by **enanwangai** August 28, 2022</sup>
Hi, thank you for this wonderful package that is simple and straightforward.
I would need your help given that I am just familiarizing myself with Laravel.
1. I wanted to know how to automatically show the contact list on loading of t

[2022-08-28 11:30] DevCores commented on #204
Malformed UTF-8 characters, possibly incorrectly encoded
I get this error at 500 errors

[2022-08-28 12:54] munafio commented on #211
@enanwangai Keep it as a discussion since there are no issues to solve.

[2022-08-28 12:54] #211 closed, assigned to nobody

[2022-08-30 14:40] #204 closed, assigned to nobody

[2022-09-04 05:44] roqstarco commented on #202
@munafio Any idea what could be the issue?

[2022-09-04 10:42] majedqatousa opened #212 "How to wrap the chat main screen in anouther page"
Hello ,
i neet to wrap chat main screen with my header  and side  menu in my web site
how i can  do it ?
thank you

laravel v : 9

[2022-09-05 12:34] illusi03 opened #213 "[BUGS] After update version, from 1.5.0 to 1.5.2 it's break"
I have problem with pusher, after investigation i think it's route **chatify/chat/auth** has not called if i update version from 1.5.0 to 1.5.2.
In version 1.5.0 it's normally work, but upper version it's not working (Because it's not called route **chatify/chat/auth**).
Here some log all route when i go to http://localhost:[PORT]/chatify in version 1.5.2
![image](https://user-images.githubusercon

[2022-09-07 15:01] munafio commented on #212
@majedqatousa you can use `Iframe`, or use the views in you page.

[2022-09-07 15:01] #212 closed, assigned to nobody

[2022-09-07 15:03] munafio commented on #213
@illusi03 It is working on the newer/older version and did test it even on Laravel 9 and lower .. you can check the console logs or network tab to see if anything is going wrong there?

[2022-09-08 00:17] munafio commented on #202
I'll fix this issue in the next releases, currently you can modify the css styling to fit your needs.

[2022-09-09 05:26] roqstarco commented on #202
@munafio
Ok, that would be amazing!
We tried everything CSS wise but it didn't work.

[2022-09-09 06:59] zeehan805 opened #216 "failed to start converstation"
I am trying to start new conversation with other user but when i clicked on his name no action or response. and get this error in console
code.js:952 Server error, check your response
error @ code.js:952
fire @ jquery.js?8262:3500
fireWith @ jquery.js?8262:3630
done @ jquery.js?8262:9798
eval @ jquery.js?8262:10057
load (async)
send @ jquery.js?8262:10076
ajax @ jquery.js?8262:9690
getSharedPhotos

[2022-09-11 16:59] illusi03 commented on #213
I had already checked and it's error auth error (can't redirect of unauth user).
Maybe i will check in newer version, thankyou verymuch for response mr munaf. Jazakallohu khoiron

[2022-09-11 16:59] #213 closed, assigned to nobody

[2022-09-18 23:12] munafio commented on #216
@zeehan805 check out `network` tab in your browser's web dev tools (next to/before `console` tab), there you can see the detailed issue occurred with the request you sent.

[2022-09-19 13:31] zeehan805 commented on #216
Thank you problem solved...

[2022-09-19 13:33] #216 closed, assigned to nobody

[2022-09-21 06:56] saim-developer opened #217 "PDF File not uploading for attachment"
I am using chatify in laravel 8. i am facing the problem of not uploading PDF & Video File for attachment, it's showing me an error in alert box "file type not allowed". what can i do?
Thanks.

[2022-09-21 07:20] #217 closed, assigned to nobody

[2022-09-22 07:00] munafio commented on #217
@saim-developer if you have solved your issue, please share the solution in your issue for others who may face the same issue in the future.

[2022-09-29 06:58] kirkdouglasprofeciait opened #218 "How to use none numeric user id?"

[2022-10-04 09:36] MuhhalimR opened #219 "Pusher not defined and so template with laravel voyager"
I make a custom view chatify with laravel voyager, when use in local there's no error like when i already use with live server like Cpanel

This is the pict of what error i found
![chat error 5](https://user-images.githubusercontent.com/61299752/193786748-afa1a83b-9cc7-4a6f-a510-8e2f7530fb53.PNG)

i don't know what's wrong with my code

[2022-10-06 07:02] munafio commented on #219
@MuhhalimR make sure of the imports (pusher, css stylings...etc).

[2022-10-06 07:04] munafio commented on #218
@kirkdouglasprofeciait check out the [customizations](https://chatify.munafio.com/customizations) sections at the official docs, you can modify the models & the migrations to meet your needs

[2022-10-06 07:04] #218 closed, assigned to nobody

[2022-10-07 04:04] MuhhalimR commented on #219
i already imports (pusher.etc). i get this error when live deploy but in local is works

[2022-10-10 12:14] munafio commented on #219
@MuhhalimR Probably you are missing something you did locally, I can't tell so you have to provide us more details about your issue and the customizations you did to help you.

[2022-10-12 03:23] MuhhalimR commented on #219
[code]

this is the customizations i did. chat.blade.php

[2022-10-12 04:07] MuhhalimR commented on #219
![image](https://user-images.githubusercontent.com/61299752/195247602-391cd647-b90b-4b20-8de4-1f5ffe042634.png)
this is the last error that i get.
but i don't know why there's no style in chat

[code]
this is my headlink.blade.php code

[2022-10-13 06:56] munafio commented on #219
@MuhhalimR have you make a symlink for the storage? `php artisan storage:link`

[2022-10-17 10:07] MuhhalimR commented on #219
i already solve this, ty for your reply

[2022-10-17 12:46] #219 closed, assigned to nobody

[2022-10-17 16:44] munafio commented on #219
@MuhhalimR  If you solved this in your way, then please mention the solution for other developers who may face the same issue in the future. Thank you.

[2022-10-18 13:16] arshadinvoked commented on #71
Whats about the group messaging functionality is it updated or not ?

[2022-10-19 11:47] floreapaun opened #220 "API request /getContacts fails"
When I go localhost/chatify API request fails:

![Screenshot 2022-10-19 144038](https://user-images.githubusercontent.com/1117393/196681161-2ceeb914-be9b-42bb-bd55-3759e4583759.png)

Response message:
``
SQLSTATE[42000]: Syntax error or access violation: 1055 'chat.users.name' isn't in GROUP BY (SQL: select count(*) as aggregate from (select `users`.*, MAX(ch_messages.created_at) max_created_at fr

[2022-10-23 10:14] NawrasBukhari commented on #220
head to config/database.php and make strict false.

[2022-10-24 13:27] dgillier opened #221 "Group feature ?"
Hi,
This is a really great component !

Any idea if a group feature is planned, if yes when ?

Thanks, Denis

[2022-10-27 08:22] floreapaun commented on #220
The guy [in here](https://sinnbeck.dev/posts/laravel-groupby-error) says it can be unpredictable and lead to problems down the road.

[2022-10-27 09:24] munafio commented on #220
@floreapaun This issue is duplicated, you can follow this solution ([issue 1](https://github.com/munafio/chatify/issues/205#issuecomment-1219399270)) or if you have a better implementation you can write your own, Chatify is [fully customizable](https://chatify.munafio.com/customizations) .. then also you can open a PR.

Thank you

[2022-10-27 09:24] #220 closed, assigned to nobody

[2022-10-27 09:32] munafio commented on #221
@dgillier Hi,👋🏻
Currently not planned to work on this feature .. It was planned to be released with Chatify v2, but because of the time and effort I'm spending on this project without any support, I stopped the plan just for now.
I will write an announcement very soon about the plan and this project, so stay tuned until then.

Have a good day.

[2022-10-27 09:32] #221 closed, assigned to nobody

[2022-10-29 13:02] munafio commented on #71
Checkout [this discussion](https://github.com/munafio/chatify/discussions/222)

[2022-11-03 10:50] FarizRafiqi opened #223 "Numeric Value Out Of Range and Abnormal Contact List Display"
Laravel: v9.35.1
PHP: v8.1.10
Chatify: v1.5.2

When I start chatting on my hosted website, the message is not sent because the range is out of bound. Even though in the ch_messages table there are only a few messages, maybe this arises because of the limited big int range, randomly generating message ids, and the limitations of the web hosting I use. Maybe in the future the id column can be replac

[2022-11-09 21:08] munafio commented on #223
@FarizRafiqi Hi Fariz,
Thank you for informing me about this issue, it will be replaced with UUIDs in the next releases .. currently, you can make it on your own (Chatify is fully customizable).

Regards

[2022-11-09 21:08] #223 closed, assigned to nobody

[2022-11-15 23:16] 790azat opened #224 "Messages are not sending Live"
There is no live update after i send message, they are red so i need to refresh page to get it, i also disabled strict mode
![image](https://user-images.githubusercontent.com/61667698/202044949-eb1238cf-3b38-4429-a8b3-b57efeccf2ec.png)

[2022-11-16 12:40] munafio commented on #224
@790azat can you please check out the network tab then the response of the error request?

[2022-11-17 19:36] ronlinet opened #225 "Denormalized User Table"
I saw the demo => Nice work!

The only issue I see is the denormalized user table .

It would make much more sense storing the user preferences in a package dedicated preferences table.

I know that a lot of other packages denormalize users tables but compartmentalization is the bread and butter of modular architecture and package development does have a lot to do with modularity.  There are nearl

[2022-11-17 22:47] sabrydawood commented on #225
This an only demo you can customize as you need
An customized all database tables to be work with my website ✨

[2022-11-18 13:12] munafio commented on #225
@ronlinet I will put this suggestion in my considerations, and I agree this is a better way of doing that but I wanted it first to be as simple as I can .. also, everything can be customized with Chatify so you can modify migrations, controllers...etc to meet your needs.
Thank you for your suggestion ❤️

[2022-11-18 13:12] #225 closed, assigned to nobody

[2022-11-18 13:15] #224 closed, assigned to nobody

[2022-11-18 14:00] ronlinet commented on #225
@munafio  Please consider my post as a contribution, or as a constructive critic.
I am not trying to discredit what you have done guys, personally I think that you have done an excellent job.
Including into your project a bit of backend design will only make it better.
Have a nice day !

[2022-11-28 02:34] Alecckie opened #226 "Show previous chatlist without searching for the user"
My chatify installation is okay and fine.
Only problem is that I have to search a previously contacted user to load their messages.

How can I show the previous chats on the left panel by default upon loading the chatify like other messenger apps?
Laravel version: 9.18 with vite

![Screenshot 2022-11-28 052508](https://user-images.githubusercontent.com/10174852/204179016-8233b0e2-a1f3-42f2-bb4f-c5

[2022-11-28 11:54] aneesdev commented on #29
@munafio it's 2022 and you till haven't done anything sadly

[2022-11-29 19:40] munafio commented on #29
Hi 👋
Sorry for that, but the reason behind it is that there is no support for my work to keep up with 🤷🏻‍♂️ also because of my own business... but the next days I will work on it to fix this security issue.
Hope to be released very soon.. till then, you can do/customize whatever you want since Chatify is fully customizable ❤️
Regards

[2022-11-29 20:20] munafio commented on #226
@Alecckie hey, It is already by default showing you people you have contacted each other.. there must be a problem with yours, check the network tab or any console logs .. if there are no issues there, then check [this issue.](https://github.com/munafio/chatify/issues/205#issuecomment-1219399270)

if not any of these, provide us with the details.

[2022-11-30 09:55] stayallive commented on #29
Hey @munafio, it's not that you _have_ to fix it (you don't owe anyone anything, or at least that is how open source should work...), but it's good that if you are aware of a security problem that you at least educate users looking at the project, pinning this issue is already enough. That way people can make their own decisions and fixes when needed. So thanks for educating future readers! ❤️

[2022-11-30 11:21] Alecckie commented on #226
Thank you sir,
Having followed the link to the issue, I have found the problem to be the strict mode on mysql.
It works fine now.

[2022-11-30 11:21] #226 closed, assigned to nobody